body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:980px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
.u5048_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:96px;
}
.u5048 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:96px;
  display:flex;
}
.u5048 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u5048_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u5049_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:930px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
.u5049 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:16px;
  width:930px;
  height:24px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
.u5049 .text {
  position:absolute;
  align-self:flex-end;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u5049_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
.u5050_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
.u5050 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:52px;
  width:32px;
  height:30px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
.u5050 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u5050_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
.u5051_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#6EA0D0;
}
.u5051 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:52px;
  width:81px;
  height:30px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#6EA0D0;
}
.u5051 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u5051_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#6EA0D0;
}
.u5051.mouseOver {
}
.u5051_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#6EA0D0;
}
.u5051.disabled {
}
.u5051_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5047-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:96px;
}
#u5047-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:114px;
  width:980px;
  height:96px;
}
#u5047-3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:228px;
  width:980px;
  height:96px;
}
#u5047-4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:342px;
  width:980px;
  height:96px;
}
#u5047-5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:456px;
  width:980px;
  height:96px;
}
#u5047-6 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:570px;
  width:980px;
  height:96px;
}
#u5047 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:20px;
  width:980px;
  height:666px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
