<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <title>在线客服</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="{% static 'luogu/resources/css/axure_rp_page.css' %}" type="text/css" rel="stylesheet"/>
    <link href="{% static 'luogu/data/styles.css' %}" type="text/css" rel="stylesheet"/>
    <link href="{% static 'luogu/files/在线客服/styles.css' %}" type="text/css" rel="stylesheet"/>
    <script src="{% static 'luogu/resources/scripts/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'luogu/resources/scripts/axure/axQuery.js' %}"></script>
    <script src="{% static 'luogu/resources/scripts/axure/globals.js' %}"></script>
    <script src="{% static 'luogu/resources/scripts/axutils.js' %}"></script>
    <script src="{% static 'luogu/resources/scripts/axure/annotation.js' %}"></script>
    <script src="{% static 'luogu/resources/scripts/axure/axQuery.std.js' %}"></script>
    <script src="{% static 'luogu/resources/scripts/axure/doc.js' %}"></script>
    <script src="{% static 'luogu/resources/scripts/messagecenter.js' %}"></script>
    <script src="{% static 'luogu/resources/scripts/axure/events.js' %}"></script>
    <script src="{% static 'luogu/resources/scripts/axure/recording.js' %}"></script>
    <script src="{% static 'luogu/resources/scripts/axure/action.js' %}"></script>
    <script src="{% static 'luogu/resources/scripts/axure/expr.js' %}"></script>
    <script src="{% static 'luogu/resources/scripts/axure/geometry.js' %}"></script>
    <script src="{% static 'luogu/resources/scripts/axure/flyout.js' %}"></script>
    <script src="{% static 'luogu/resources/scripts/axure/model.js' %}"></script>
    <script src="{% static 'luogu/resources/scripts/axure/repeater.js' %}"></script>
    <script src="{% static 'luogu/resources/scripts/axure/sto.js' %}"></script>
    <script src="{% static 'luogu/resources/scripts/axure/utils.temp.js' %}"></script>
    <script src="{% static 'luogu/resources/scripts/axure/variables.js' %}"></script>
    <script src="{% static 'luogu/resources/scripts/axure/drag.js' %}"></script>
    <script src="{% static 'luogu/resources/scripts/axure/move.js' %}"></script>
    <script src="{% static 'luogu/resources/scripts/axure/visibility.js' %}"></script>
    <script src="{% static 'luogu/resources/scripts/axure/style.js' %}"></script>
    <script src="{% static 'luogu/resources/scripts/axure/adaptive.js' %}"></script>
    <script src="{% static 'luogu/resources/scripts/axure/tree.js' %}"></script>
    <script src="{% static 'luogu/resources/scripts/axure/init.temp.js' %}"></script>
    <script src="{% static 'luogu/resources/scripts/axure/legacy.js' %}"></script>
    <script src="{% static 'luogu/resources/scripts/axure/viewer.js' %}"></script>
    <script src="{% static 'luogu/resources/scripts/axure/math.js' %}"></script>
    <script src="{% static 'luogu/resources/scripts/axure/jquery.nicescroll.min.js' %}"></script>
    <script src="{% static 'luogu/data/document.js' %}"></script>
    <script src="{% static 'luogu/files/在线客服/data.js' %}"></script>
    <script type="text/javascript">
        $axure.utils.getTransparentGifPath = function () {
            return "{% static 'luogu/resources/images/transparent.gif' %}";
        };
        $axure.utils.getOtherPath = function () {
            return "{% static 'luogu/resources/Other.html' %}";
        };
        $axure.utils.getReloadPath = function () {
            return "{% static 'luogu/resources/reload.html' %}";
        };
    </script>
</head>
<body>
<div id="base" class="">

    <!-- Unnamed (Dynamic Panel) -->
    <div id="u13806" class="ax_default">
        <div id="u13806_state0" class="panel_state" data-label="State1" style="">
            <div id="u13806_state0_content" class="panel_state_content">

                <!-- Unnamed (Rectangle) -->
                <div id="u13807" class="ax_default box1__eee">
                    <div id="u13807_div" class=""></div>
                    <div id="u13807_text" class="text ">
                        <p><span>在线客服</span></p>
                    </div>
                </div>

                <!-- Unnamed (Rectangle) -->
                <div id="u13808" class="ax_default box1__eee">
                    <div id="u13808_div" class=""></div>
                    <div id="u13808_text" class="text " style="display:none; visibility: hidden">
                        <p></p>
                    </div>
                </div>

                <!-- Unnamed (Rectangle) -->
                <div id="u13809" class="ax_default box1__eee">
                    <div id="u13809_div" class=""></div>
                    <div id="u13809_text" class="text " style="display:none; visibility: hidden">
                        <p></p>
                    </div>
                </div>

                <!-- Unnamed (Text Area) -->
                <div id="u13810" class="ax_default text_area">
                    <div id="u13810_div" class=""></div>
                    <textarea id="u13810_input" class="u13810_input"></textarea>
                </div>

                <!-- Unnamed (Group) -->
                <div id="u13811" class="ax_default" data-left="498" data-top="601" data-width="210" data-height="32">

                    <!-- Unnamed (Rectangle) -->
                    <div id="u13812" class="ax_default box1__eee">
                        <div id="u13812_div" class=""></div>
                        <div id="u13812_text" class="text ">
                            <p><span>发送</span></p>
                        </div>
                    </div>

                    <!-- Unnamed (Rectangle) -->
                    <div id="u13813" class="ax_default box1__eee">
                        <div id="u13813_div" class=""></div>
                        <div id="u13813_text" class="text ">
                            <p><span>关闭</span></p>
                        </div>
                    </div>
                </div>

                <!-- Unnamed (Image) -->
                <div id="u13814" class="ax_default _图片_">
                    <img id="u13814_img" class="img " src="{% static 'luogu/images/在线客服/u1' %}3814.png"/>
                    <div id="u13814_text" class="text " style="display:none; visibility: hidden">
                        <p></p>
                    </div>
                </div>

                <!-- Unnamed (Image) -->
                <div id="u13815" class="ax_default _图片_">
                    <img id="u13815_img" class="img " src="{% static 'luogu/images/在线客服/u1' %}3815.png"/>
                    <div id="u13815_text" class="text " style="display:none; visibility: hidden">
                        <p></p>
                    </div>
                </div>

                <!-- Unnamed (Image) -->
                <div id="u13816" class="ax_default _图片_">
                    <img id="u13816_img" class="img " src="{% static 'luogu/images/在线客服/u1' %}3816.png"/>
                    <div id="u13816_text" class="text " style="display:none; visibility: hidden">
                        <p></p>
                    </div>
                </div>

                <!-- Unnamed (Rectangle) -->
                <div id="u13817" class="ax_default box1__eee">
                    <div id="u13817_div" class=""></div>
                    <div id="u13817_text" class="text ">
                        <p><span>亲！你好，客服为你排忧解难，请问有什么可以为你效劳呢？</span></p>
                    </div>
                </div>

                <!-- Unnamed (Shape) -->
                <div id="u13818" class="ax_default box_2">
                    <img id="u13818_img" class="img " src="{% static 'luogu/images/在线客服/u1' %}3818.svg"/>
                    <div id="u13818_text" class="text " style="display:none; visibility: hidden">
                        <p></p>
                    </div>
                </div>

                <!-- Unnamed (Rectangle) -->
                <div id="u13819" class="ax_default label_14px__red">
                    <div id="u13819_div" class=""></div>
                    <div id="u13819_text" class="text ">
                        <p><span>6分钟前</span></p>
                    </div>
                </div>

                <!-- Unnamed (Group) -->
                <div id="u13820" class="ax_default" data-left="383" data-top="213" data-width="317" data-height="72">

                    <!-- Unnamed (Image) -->
                    <div id="u13821" class="ax_default _图片_">
                        <img id="u13821_img" class="img " src="{% static 'luogu/images/在线客服/u1' %}3816.png"/>
                        <div id="u13821_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>

                    <!-- Unnamed (Rectangle) -->
                    <div id="u13822" class="ax_default box1__eee">
                        <div id="u13822_div" class=""></div>
                        <div id="u13822_text" class="text ">
                            <p><span>你好，我刚才遇到一个小问题。</span></p>
                        </div>
                    </div>

                    <!-- Unnamed (Shape) -->
                    <div id="u13823" class="ax_default box_2">
                        <img id="u13823_img" class="img " src="{% static 'luogu/images/在线客服/u1' %}3823.svg"/>
                        <div id="u13823_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>

                    <!-- Unnamed (Rectangle) -->
                    <div id="u13824" class="ax_default label_14px__red">
                        <div id="u13824_div" class=""></div>
                        <div id="u13824_text" class="text ">
                            <p><span>2分钟前</span></p>
                        </div>
                    </div>
                </div>

                <!-- Unnamed (Group) -->
                <div id="u13825" class="ax_default" data-left="20" data-top="317" data-width="279" data-height="71">

                    <!-- Unnamed (Image) -->
                    <div id="u13826" class="ax_default _图片_">
                        <img id="u13826_img" class="img " src="{% static 'luogu/images/在线客服/u1' %}3816.png"/>
                        <div id="u13826_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>

                    <!-- Unnamed (Rectangle) -->
                    <div id="u13827" class="ax_default box1__eee">
                        <div id="u13827_div" class=""></div>
                        <div id="u13827_text" class="text ">
                            <p><span>什么问题都可以问我哟~~</span></p>
                        </div>
                    </div>

                    <!-- Unnamed (Shape) -->
                    <div id="u13828" class="ax_default box_2">
                        <img id="u13828_img" class="img " src="{% static 'luogu/images/在线客服/u1' %}3818.svg"/>
                        <div id="u13828_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>

                    <!-- Unnamed (Rectangle) -->
                    <div id="u13829" class="ax_default label_14px__red">
                        <div id="u13829_div" class=""></div>
                        <div id="u13829_text" class="text ">
                            <p><span>2分钟前</span></p>
                        </div>
                    </div>
                </div>

                <!-- Unnamed (Image) -->
                <div id="u13830" class="ax_default _图片_">
                    <img id="u13830_img" class="img " src="{% static 'luogu/images/在线客服/u1' %}3830.png"/>
                    <div id="u13830_text" class="text " style="display:none; visibility: hidden">
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{% static 'luogu/resources/scripts/axure/ios.js' %}"></script>
</body>
</html>
