<!DOCTYPE html>
<html>
  <head>
    <title>忘记密码</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="files/忘记密码/styles.css" type="text/css" rel="stylesheet"/>
    <script src="resources/scripts/jquery-3.2.1.min.js"></script>
    <script src="resources/scripts/axure/axQuery.js"></script>
    <script src="resources/scripts/axure/globals.js"></script>
    <script src="resources/scripts/axutils.js"></script>
    <script src="resources/scripts/axure/annotation.js"></script>
    <script src="resources/scripts/axure/axQuery.std.js"></script>
    <script src="resources/scripts/axure/doc.js"></script>
    <script src="resources/scripts/messagecenter.js"></script>
    <script src="resources/scripts/axure/events.js"></script>
    <script src="resources/scripts/axure/recording.js"></script>
    <script src="resources/scripts/axure/action.js"></script>
    <script src="resources/scripts/axure/expr.js"></script>
    <script src="resources/scripts/axure/geometry.js"></script>
    <script src="resources/scripts/axure/flyout.js"></script>
    <script src="resources/scripts/axure/model.js"></script>
    <script src="resources/scripts/axure/repeater.js"></script>
    <script src="resources/scripts/axure/sto.js"></script>
    <script src="resources/scripts/axure/utils.temp.js"></script>
    <script src="resources/scripts/axure/variables.js"></script>
    <script src="resources/scripts/axure/drag.js"></script>
    <script src="resources/scripts/axure/move.js"></script>
    <script src="resources/scripts/axure/visibility.js"></script>
    <script src="resources/scripts/axure/style.js"></script>
    <script src="resources/scripts/axure/adaptive.js"></script>
    <script src="resources/scripts/axure/tree.js"></script>
    <script src="resources/scripts/axure/init.temp.js"></script>
    <script src="resources/scripts/axure/legacy.js"></script>
    <script src="resources/scripts/axure/viewer.js"></script>
    <script src="resources/scripts/axure/math.js"></script>
    <script src="resources/scripts/axure/jquery.nicescroll.min.js"></script>
    <script src="data/document.js"></script>
    <script src="files/忘记密码/data.js"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (Rectangle) -->
      <div id="u11103" class="ax_default box1__eee">
        <div id="u11103_div" class=""></div>
        <div id="u11103_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u11104" class="ax_default label_14px__red">
        <div id="u11104_div" class=""></div>
        <div id="u11104_text" class="text ">
          <p><span>设置新登录密码</span></p>
        </div>
      </div>

      <!-- Content_Step (Dynamic Panel) -->
      <div id="u11105" class="ax_default" data-label="Content_Step">
        <div id="u11105_state0" class="panel_state" data-label="1_Content_Step" style="">
          <div id="u11105_state0_content" class="panel_state_content">

            <!-- Unnamed (背景) -->

            <!-- Unnamed (Dynamic Panel) -->
            <div id="u11107" class="ax_default ax_default_hidden">
              <div id="u11107_state0" class="panel_state" data-label="State1" style="">
                <div id="u11107_state0_content" class="panel_state_content">
                </div>
              </div>
            </div>
            <div id="u11106" style="display:none; visibility:hidden;"></div>

            <!-- Unnamed (Rectangle) -->
            <div id="u11108" class="ax_default label_14px__red">
              <div id="u11108_div" class=""></div>
              <div id="u11108_text" class="text ">
                <p><span>已绑定的手机号：189****1688</span></p>
              </div>
            </div>

            <!-- Box_Verification (Rectangle) -->
            <div id="u11109" class="ax_default box1__eee" data-label="Box_Verification">
              <div id="u11109_div" class=""></div>
              <div id="u11109_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>

            <!-- Input_Verification (Text Field) -->
            <div id="u11110" class="ax_default _文本框" data-label="Input_Verification">
              <div id="u11110_div" class=""></div>
              <input id="u11110_input" type="text" value="" class="u11110_input"/>
            </div>

            <!-- Unnamed (Image) -->
            <div id="u11111" class="ax_default _图片_">
              <img id="u11111_img" class="img " src="images/用户注册/u11062.png"/>
              <div id="u11111_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>

            <!-- Btn_Verification (Rectangle) -->
            <div id="u11112" class="ax_default box1__eee" data-label="Btn_Verification">
              <div id="u11112_div" class=""></div>
              <div id="u11112_text" class="text ">
                <p><span>获取验证码</span></p>
              </div>
            </div>

            <!-- 1_Btn_Novice (Rectangle) -->
            <div id="u11113" class="ax_default _形状1" data-label="1_Btn_Novice">
              <div id="u11113_div" class=""></div>
              <div id="u11113_text" class="text ">
                <p><span>下一步</span></p>
              </div>
            </div>

            <!-- Correct_Prompt (Dynamic Panel) -->
            <div id="u11114" class="ax_default ax_default_hidden" data-label="Correct_Prompt" style="display:none; visibility: hidden">
              <div id="u11114_state0" class="panel_state" data-label="State1" style="">
                <div id="u11114_state0_content" class="panel_state_content">

                  <!-- Content_Correct_Prompt (Rectangle) -->
                  <div id="u11115" class="ax_default label_14px__red" data-label="Content_Correct_Prompt">
                    <div id="u11115_div" class=""></div>
                    <div id="u11115_text" class="text ">
                      <p><span>提示语</span></p>
                    </div>
                  </div>

                  <!-- Icon_Correct_Prompt (Image) -->
                  <div id="u11116" class="ax_default _图片_" data-label="Icon_Correct_Prompt">
                    <img id="u11116_img" class="img " src="images/用户注册/icon_correct_prompt_u11067.png"/>
                    <div id="u11116_text" class="text " style="display:none; visibility: hidden">
                      <p></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Error_Prompt (Dynamic Panel) -->
            <div id="u11117" class="ax_default ax_default_hidden" data-label="Error_Prompt" style="display:none; visibility: hidden">
              <div id="u11117_state0" class="panel_state" data-label="State1" style="">
                <div id="u11117_state0_content" class="panel_state_content">

                  <!-- Content_Errrror_Prompt (Rectangle) -->
                  <div id="u11118" class="ax_default label_14px__red" data-label="Content_Errrror_Prompt">
                    <div id="u11118_div" class=""></div>
                    <div id="u11118_text" class="text ">
                      <p><span>提示语</span></p>
                    </div>
                  </div>

                  <!-- Icon_Error_Prompt (Image) -->
                  <div id="u11119" class="ax_default _图片_" data-label="Icon_Error_Prompt">
                    <img id="u11119_img" class="img " src="images/评价商品/icon_error_prompt_u4551.png"/>
                    <div id="u11119_text" class="text " style="display:none; visibility: hidden">
                      <p></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="u11105_state1" class="panel_state" data-label="2_Content_Step" style="visibility: hidden;">
          <div id="u11105_state1_content" class="panel_state_content">

            <!-- Unnamed (背景) -->

            <!-- Unnamed (Dynamic Panel) -->
            <div id="u11121" class="ax_default ax_default_hidden">
              <div id="u11121_state0" class="panel_state" data-label="State1" style="">
                <div id="u11121_state0_content" class="panel_state_content">
                </div>
              </div>
            </div>
            <div id="u11120" style="display:none; visibility:hidden;"></div>

            <!-- 1_Box_Password (Rectangle) -->
            <div id="u11122" class="ax_default box1__eee" data-label="1_Box_Password">
              <div id="u11122_div" class=""></div>
              <div id="u11122_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>

            <!-- 1_Input_Password (Text Field) -->
            <div id="u11123" class="ax_default _文本框" data-label="1_Input_Password">
              <div id="u11123_div" class=""></div>
              <input id="u11123_input" type="password" value="" class="u11123_input"/>
            </div>

            <!-- Unnamed (Image) -->
            <div id="u11124" class="ax_default _图片_">
              <img id="u11124_img" class="img " src="images/用户登录/u11026.png"/>
              <div id="u11124_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>

            <!-- 2_Btn_Novice (Rectangle) -->
            <div id="u11125" class="ax_default _形状1" data-label="2_Btn_Novice">
              <div id="u11125_div" class=""></div>
              <div id="u11125_text" class="text ">
                <p><span>确 定</span></p>
              </div>
            </div>

            <!-- 2_Box_Password (Rectangle) -->
            <div id="u11126" class="ax_default box1__eee" data-label="2_Box_Password">
              <div id="u11126_div" class=""></div>
              <div id="u11126_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>

            <!-- 2_Input_Password (Text Field) -->
            <div id="u11127" class="ax_default _文本框" data-label="2_Input_Password">
              <div id="u11127_div" class=""></div>
              <input id="u11127_input" type="password" value="" class="u11127_input"/>
            </div>

            <!-- Unnamed (Image) -->
            <div id="u11128" class="ax_default _图片_">
              <img id="u11128_img" class="img " src="images/用户登录/u11026.png"/>
              <div id="u11128_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>

            <!-- 2_Error_Prompt (Dynamic Panel) -->
            <div id="u11129" class="ax_default ax_default_hidden" data-label="2_Error_Prompt" style="display:none; visibility: hidden">
              <div id="u11129_state0" class="panel_state" data-label="State1" style="">
                <div id="u11129_state0_content" class="panel_state_content">

                  <!-- Content_Error_Prompt (Rectangle) -->
                  <div id="u11130" class="ax_default label_14px__red" data-label="Content_Error_Prompt">
                    <div id="u11130_div" class=""></div>
                    <div id="u11130_text" class="text ">
                      <p><span>提示语</span></p>
                    </div>
                  </div>

                  <!-- Icon_Error_Prompt (Image) -->
                  <div id="u11131" class="ax_default _图片_" data-label="Icon_Error_Prompt">
                    <img id="u11131_img" class="img " src="images/评价商品/icon_error_prompt_u4551.png"/>
                    <div id="u11131_text" class="text " style="display:none; visibility: hidden">
                      <p></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="u11105_state2" class="panel_state" data-label="3_Content_Step" style="visibility: hidden;">
          <div id="u11105_state2_content" class="panel_state_content">

            <!-- Unnamed (背景) -->

            <!-- Unnamed (Dynamic Panel) -->
            <div id="u11133" class="ax_default ax_default_hidden">
              <div id="u11133_state0" class="panel_state" data-label="State1" style="">
                <div id="u11133_state0_content" class="panel_state_content">
                </div>
              </div>
            </div>
            <div id="u11132" style="display:none; visibility:hidden;"></div>

            <!-- Unnamed (Rectangle) -->
            <div id="u11134" class="ax_default label_14px__red">
              <div id="u11134_div" class=""></div>
              <div id="u11134_text" class="text ">
                <p style="font-size:20px;"><span style="font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;font-weight:700;">恭喜你，新登录密码设置成功</span></p><p style="font-size:16px;"><span style="font-family:'微软雅黑', sans-serif;font-weight:400;color:#666666;">点击下方按钮，或&nbsp; &nbsp; &nbsp; 秒后自动返回</span></p>
              </div>
            </div>

            <!-- Count down (Rectangle) -->
            <div id="u11135" class="ax_default box1__eee" data-label="Count down">
              <div id="u11135_div" class=""></div>
              <div id="u11135_text" class="text ">
                <p><span>3</span></p>
              </div>
            </div>

            <!-- Unnamed (Image) -->
            <div id="u11136" class="ax_default _图片_">
              <img id="u11136_img" class="img " src="images/忘记密码/u11136.png"/>
              <div id="u11136_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>

            <!-- Button_Novice (Rectangle) -->
            <div id="u11137" class="ax_default _形状1" data-label="Button_Novice">
              <div id="u11137_div" class=""></div>
              <div id="u11137_text" class="text ">
                <p><span>立即登录</span></p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Title_Step (Dynamic Panel) -->
      <div id="u11138" class="ax_default" data-label="Title_Step">
        <div id="u11138_state0" class="panel_state" data-label="State1" style="">
          <div id="u11138_state0_content" class="panel_state_content">

            <!-- 1_Title_Step (Dynamic Panel) -->
            <div id="u11139" class="ax_default" data-label="1_Title_Step">
              <div id="u11139_state0" class="panel_state" data-label="State1" style="">
                <div id="u11139_state0_content" class="panel_state_content">

                  <!-- Unnamed (圆圈) -->

                  <!-- Unnamed (Ellipse) -->
                  <div id="u11141" class="ax_default ellipse">
                    <img id="u11141_img" class="img " src="images/忘记密码/u11141.svg"/>
                    <div id="u11141_text" class="text " style="display:none; visibility: hidden">
                      <p></p>
                    </div>
                  </div>
                  <div id="u11140" style="display:none; visibility:hidden;"></div>

                  <!-- Unnamed (步骤-标题-标题名称) -->

                  <!-- Name_Title_Step (Rectangle) -->
                  <div id="u11143" class="ax_default label_14px__red" data-label="Name_Title_Step">
                    <div id="u11143_div" class=""></div>
                    <div id="u11143_text" class="text ">
                      <p><span>步骤标题文字</span></p>
                    </div>
                  </div>
                  <div id="u11142" style="display:none; visibility:hidden;"></div>

                  <!-- Unnamed (进度线-开始结束) -->

                  <!-- Unnamed (Rectangle) -->
                  <div id="u11145" class="ax_default box_31">
                    <div id="u11145_div" class=""></div>
                    <div id="u11145_text" class="text " style="display:none; visibility: hidden">
                      <p></p>
                    </div>
                  </div>
                  <div id="u11144" style="display:none; visibility:hidden;"></div>
                </div>
              </div>
            </div>

            <!-- 2_Title_Step (Dynamic Panel) -->
            <div id="u11146" class="ax_default" data-label="2_Title_Step">
              <div id="u11146_state0" class="panel_state" data-label="State1" style="">
                <div id="u11146_state0_content" class="panel_state_content">

                  <!-- Unnamed (步骤-标题-标题名称) -->

                  <!-- Name_Title_Step (Rectangle) -->
                  <div id="u11148" class="ax_default label_14px__red" data-label="Name_Title_Step">
                    <div id="u11148_div" class=""></div>
                    <div id="u11148_text" class="text ">
                      <p><span>步骤标题文字</span></p>
                    </div>
                  </div>
                  <div id="u11147" style="display:none; visibility:hidden;"></div>

                  <!-- Unnamed (圆圈) -->

                  <!-- Unnamed (Ellipse) -->
                  <div id="u11150" class="ax_default ellipse">
                    <img id="u11150_img" class="img " src="images/忘记密码/u11141.svg"/>
                    <div id="u11150_text" class="text " style="display:none; visibility: hidden">
                      <p></p>
                    </div>
                  </div>
                  <div id="u11149" style="display:none; visibility:hidden;"></div>

                  <!-- Unnamed (进度线-开始结束) -->

                  <!-- Unnamed (Rectangle) -->
                  <div id="u11152" class="ax_default box_31">
                    <div id="u11152_div" class=""></div>
                    <div id="u11152_text" class="text " style="display:none; visibility: hidden">
                      <p></p>
                    </div>
                  </div>
                  <div id="u11151" style="display:none; visibility:hidden;"></div>

                  <!-- Unnamed (进度线-开始结束) -->

                  <!-- Unnamed (Rectangle) -->
                  <div id="u11154" class="ax_default box_31">
                    <div id="u11154_div" class=""></div>
                    <div id="u11154_text" class="text " style="display:none; visibility: hidden">
                      <p></p>
                    </div>
                  </div>
                  <div id="u11153" style="display:none; visibility:hidden;"></div>
                </div>
              </div>
            </div>

            <!-- 3_Title_Step (Dynamic Panel) -->
            <div id="u11155" class="ax_default" data-label="3_Title_Step">
              <div id="u11155_state0" class="panel_state" data-label="State1" style="">
                <div id="u11155_state0_content" class="panel_state_content">

                  <!-- Unnamed (步骤-标题-标题名称) -->

                  <!-- Name_Title_Step (Rectangle) -->
                  <div id="u11157" class="ax_default label_14px__red" data-label="Name_Title_Step">
                    <div id="u11157_div" class=""></div>
                    <div id="u11157_text" class="text ">
                      <p><span>步骤标题文字</span></p>
                    </div>
                  </div>
                  <div id="u11156" style="display:none; visibility:hidden;"></div>

                  <!-- Unnamed (进度线-开始结束) -->

                  <!-- Unnamed (Rectangle) -->
                  <div id="u11159" class="ax_default box_31">
                    <div id="u11159_div" class=""></div>
                    <div id="u11159_text" class="text " style="display:none; visibility: hidden">
                      <p></p>
                    </div>
                  </div>
                  <div id="u11158" style="display:none; visibility:hidden;"></div>

                  <!-- Unnamed (Group) -->
                  <div id="u11160" class="ax_default" data-left="80" data-top="0" data-width="28" data-height="28">

                    <!-- Unnamed (圆圈) -->

                    <!-- Unnamed (Ellipse) -->
                    <div id="u11162" class="ax_default ellipse">
                      <img id="u11162_img" class="img " src="images/忘记密码/u11141.svg"/>
                      <div id="u11162_text" class="text " style="display:none; visibility: hidden">
                        <p></p>
                      </div>
                    </div>
                    <div id="u11161" style="display:none; visibility:hidden;"></div>

                    <!-- Unnamed (对勾) -->

                    <!-- Unnamed (Image) -->
                    <div id="u11164" class="ax_default _图片">
                      <img id="u11164_img" class="img " src="images/账号安全-更换手机号/correct_step_u5937.png"/>
                      <div id="u11164_text" class="text " style="display:none; visibility: hidden">
                        <p></p>
                      </div>
                    </div>
                    <div id="u11163" style="display:none; visibility:hidden;"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Unnamed (网站底部) -->

      <!-- Unnamed (Dynamic Panel) -->
      <div id="u11166" class="ax_default">
        <div id="u11166_state0" class="panel_state" data-label="State1" style="">
          <div id="u11166_state0_content" class="panel_state_content">

            <!-- Unnamed (Group) -->
            <div id="u11167" class="ax_default" data-left="75" data-top="50" data-width="200" data-height="152">

              <!-- Unnamed (Rectangle) -->
              <div id="u11168" class="ax_default label_14px__red">
                <div id="u11168_div" class=""></div>
                <div id="u11168_text" class="text ">
                  <p><span>客户服务</span></p>
                </div>
              </div>

              <!-- Unnamed (Group) -->
              <div id="u11169" class="ax_default" data-left="75" data-top="102" data-width="200" data-height="100">

                <!-- Unnamed (Dynamic Panel) -->
                <div id="u11170" class="ax_default">
                  <div id="u11170_state0" class="panel_state" data-label="State1" style="">
                    <div id="u11170_state0_content" class="panel_state_content">

                      <!-- Unnamed (Rectangle) -->
                      <div id="u11171" class="ax_default box1__eee">
                        <div id="u11171_div" class=""></div>
                        <div id="u11171_text" class="text " style="display:none; visibility: hidden">
                          <p></p>
                        </div>
                      </div>

                      <!-- Unnamed (Rectangle) -->
                      <div id="u11172" class="ax_default label_14px__red">
                        <div id="u11172_div" class=""></div>
                        <div id="u11172_text" class="text ">
                          <p><span>在线客服</span></p>
                        </div>
                      </div>

                      <!-- Unnamed (Image) -->
                      <div id="u11173" class="ax_default _图片_">
                        <img id="u11173_img" class="img " src="images/index/u609.png"/>
                        <div id="u11173_text" class="text " style="display:none; visibility: hidden">
                          <p></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Unnamed (Dynamic Panel) -->
                <div id="u11174" class="ax_default">
                  <div id="u11174_state0" class="panel_state" data-label="State1" style="">
                    <div id="u11174_state0_content" class="panel_state_content">

                      <!-- Unnamed (Rectangle) -->
                      <div id="u11175" class="ax_default box1__eee">
                        <div id="u11175_div" class=""></div>
                        <div id="u11175_text" class="text " style="display:none; visibility: hidden">
                          <p></p>
                        </div>
                      </div>

                      <!-- Unnamed (Rectangle) -->
                      <div id="u11176" class="ax_default label_14px__red">
                        <div id="u11176_div" class=""></div>
                        <div id="u11176_text" class="text ">
                          <p><span>用户反馈</span></p>
                        </div>
                      </div>

                      <!-- Unnamed (Image) -->
                      <div id="u11177" class="ax_default _图片_">
                        <img id="u11177_img" class="img " src="images/index/u613.png"/>
                        <div id="u11177_text" class="text " style="display:none; visibility: hidden">
                          <p></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u11178" class="ax_default label_14px__red">
              <div id="u11178_div" class=""></div>
              <div id="u11178_text" class="text ">
                <p><span>产品原型公众号</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u11179" class="ax_default label_14px__red">
              <div id="u11179_div" class=""></div>
              <div id="u11179_text" class="text ">
                <p><span style="font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;">扫描二维码</span></p><p><span style="font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;">关注微信公众号</span></p><p><span style="font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;">产品经理社区访问：www.chanpindashi.com</span></p><p><span style="font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;"><br></span></p>
              </div>
            </div>

            <!-- Unnamed (Image) -->
            <div id="u11180" class="ax_default _图片_">
              <img id="u11180_img" class="img " src="images/index/u616.png"/>
              <div id="u11180_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Unnamed (Dynamic Panel) -->
      <div id="u11181" class="ax_default">
        <div id="u11181_state0" class="panel_state" data-label="State1" style="">
          <div id="u11181_state0_content" class="panel_state_content">
          </div>
        </div>
      </div>
      <div id="u11165" style="display:none; visibility:hidden;"></div>

      <!-- Unnamed (Dynamic Panel) -->
      <div id="u11182" class="ax_default">
        <div id="u11182_state0" class="panel_state" data-label="State1" style="">
          <div id="u11182_state0_content" class="panel_state_content">

            <!-- Unnamed (网站LOGO) -->

            <!-- Unnamed (Rectangle) -->
            <div id="u11184" class="ax_default _二级标题">
              <div id="u11184_div" class=""></div>
              <div id="u11184_text" class="text ">
                <p><span>电商Web原型</span></p>
              </div>
            </div>
            <div id="u11183" style="display:none; visibility:hidden;"></div>

            <!-- Unnamed (Dynamic Panel) -->
            <div id="u11185" class="ax_default">
              <div id="u11185_state0" class="panel_state" data-label="State1" style="">
                <div id="u11185_state0_content" class="panel_state_content">
                </div>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u11186" class="ax_default label_14px__red">
              <div id="u11186_div" class=""></div>
              <div id="u11186_text" class="text ">
                <p><span>Axure教程</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u11187" class="ax_default label_14px__red">
              <div id="u11187_div" class=""></div>
              <div id="u11187_text" class="text ">
                <p><span>电商后台</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u11188" class="ax_default label_14px__red">
              <div id="u11188_div" class=""></div>
              <div id="u11188_text" class="text ">
                <p><span>下载原型</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u11189" class="ax_default label_14px__red">
              <div id="u11189_div" class=""></div>
              <div id="u11189_text" class="text ">
                <p><span>电商APP</span></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="resources/scripts/axure/ios.js"></script>
  </body>
</html>
