{% extends "base_nav.html" %}
{% load staticfiles %}

{% block upjs %}
    <title>支付成功</title>
    <link href="{% static 'luogu/files/支付成功/styles.css' %}" type="text/css" rel="stylesheet"/>
    <script src="{% static 'luogu/files/支付成功/data.js' %}"></script>
{% endblock %}

{% block main %}
    {#    <body>#}
    <div id="base" class="">


        <!-- Head2 (Dynamic Panel) -->
        <div id="u10922" class="ax_default ax_default_hidden" data-label="Head2"
             style="display:none; visibility: hidden">
            <div id="u10922_state0" class="panel_state" data-label="State1" style="">
                <div id="u10922_state0_content" class="panel_state_content">

                    <!-- 2_Background_Head (Dynamic Panel) -->
                    <div id="u10923" class="ax_default" data-label="2_Background_Head">
                        <div id="u10923_state0" class="panel_state" data-label="State1" style="">
                            <div id="u10923_state0_content" class="panel_state_content">

                                <!-- Unnamed (Rectangle) -->
                                <div id="u10924" class="ax_default _一级标题">
                                    <div id="u10924_div" class=""></div>
                                    <div id="u10924_text" class="text ">
                                        <p><span>点击这里 下载原型</span></p>
                                    </div>
                                </div>

                                <!-- 1_Nav (Rectangle) -->
                                <div id="u10925" class="ax_default label_14px__red" data-label="1_Nav"
                                     selectiongroup="u10783nav">
                                    <div id="u10925_div" class=""></div>
                                    <div id="u10925_text" class="text ">
                                        <p><span>首页</span></p>
                                    </div>
                                </div>

                                <!-- 2_Nav (Rectangle) -->
                                <div id="u10926" class="ax_default label_14px__red" data-label="2_Nav"
                                     selectiongroup="u10783nav">
                                    <div id="u10926_div" class=""></div>
                                    <div id="u10926_text" class="text ">
                                        <p><span>居家</span></p>
                                    </div>
                                </div>

                                <!-- 8_Nav (Rectangle) -->
                                <div id="u10927" class="ax_default label_14px__red" data-label="8_Nav"
                                     selectiongroup="u10783nav">
                                    <div id="u10927_div" class=""></div>
                                    <div id="u10927_text" class="text ">
                                        <p><span>婴童</span></p>
                                    </div>
                                </div>

                                <!-- 3_Nav (Rectangle) -->
                                <div id="u10928" class="ax_default label_14px__red" data-label="3_Nav"
                                     selectiongroup="u10783nav">
                                    <div id="u10928_div" class=""></div>
                                    <div id="u10928_text" class="text ">
                                        <p><span>服装</span></p>
                                    </div>
                                </div>

                                <!-- 4_Nav (Rectangle) -->
                                <div id="u10929" class="ax_default label_14px__red" data-label="4_Nav"
                                     selectiongroup="u10783nav">
                                    <div id="u10929_div" class=""></div>
                                    <div id="u10929_text" class="text ">
                                        <p><span>电器</span></p>
                                    </div>
                                </div>

                                <!-- 5_Nav (Rectangle) -->
                                <div id="u10930" class="ax_default label_14px__red" data-label="5_Nav"
                                     selectiongroup="u10783nav">
                                    <div id="u10930_div" class=""></div>
                                    <div id="u10930_text" class="text ">
                                        <p><span>洗护</span></p>
                                    </div>
                                </div>

                                <!-- 6_Nav (Rectangle) -->
                                <div id="u10931" class="ax_default label_14px__red" data-label="6_Nav"
                                     selectiongroup="u10783nav">
                                    <div id="u10931_div" class=""></div>
                                    <div id="u10931_text" class="text ">
                                        <p><span>饮食</span></p>
                                    </div>
                                </div>

                                <!-- 7_Nav (Rectangle) -->
                                <div id="u10932" class="ax_default label_14px__red" data-label="7_Nav"
                                     selectiongroup="u10783nav">
                                    <div id="u10932_div" class=""></div>
                                    <div id="u10932_text" class="text ">
                                        <p><span>餐厨</span></p>
                                    </div>
                                </div>

                                <!-- Unnamed (Rectangle) -->
                                <div id="u10933" class="ax_default _三级标题">
                                    <div id="u10933_div" class=""></div>
                                    <div id="u10933_text" class="text ">
                                        <p><span>电商Web原型</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- 2_Line_Background_Head (Dynamic Panel) -->
                    <div id="u10934" class="ax_default" data-label="2_Line_Background_Head">
                        <div id="u10934_state0" class="panel_state" data-label="State1" style="">
                            <div id="u10934_state0_content" class="panel_state_content">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="u10783" style="display:none; visibility:hidden;"></div>

        <!-- Unnamed (Rectangle) -->
        <div id="u10935" class="ax_default box1__eee">
            <div id="u10935_div" class=""></div>
            <div id="u10935_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (Group) -->
        <div id="u10936" class="ax_default" data-left="452" data-top="212" data-width="257" data-height="38">

            <!-- Unnamed (成功) -->

            <!-- Unnamed (Image) -->
            <div id="u10938" class="ax_default _图片">
                <img id="u10938_img" class="img " src="{% static 'luogu/images/账号安全-更换手机号/u5979.png' %}"/>
                <div id="u10938_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>
            <div id="u10937" style="display:none; visibility:hidden;"></div>

            <!-- Unnamed (Rectangle) -->
            <div id="u10939" class="ax_default label_14px__red">
                <div id="u10939_div" class=""></div>
                <div id="u10939_text" class="text ">
                    <p><span>下单成功 感谢您的支持</span></p>
                </div>
            </div>
        </div>

        <!-- Unnamed (Group) -->
        <div id="u10940" class="ax_default" data-left="234" data-top="293" data-width="732" data-height="154">

            <!-- Unnamed (Group) -->
            <div id="u10941" class="ax_default" data-left="234" data-top="293" data-width="157" data-height="154">

                <!-- Unnamed (Rectangle) -->
                <div id="u10942" class="ax_default label_14px__red">
                    <div id="u10942_div" class=""></div>
                    <div id="u10942_text" class="text ">
                        <p><span>商品合计：</span></p>
                        <p><span>运费：</span></p>
                        <p><span>优惠券：</span></p>
                        <p><span>实付：</span></p>
                    </div>
                </div>

                <!-- Total amount (Rectangle) -->
                {#          <div id="u10943" class="ax_default label_14px__red" data-label="Total amount">#}
                {#            <div id="u10943_div" class=""></div>#}
                {#            <div id="u10943_text" class="text ">#}
                {#              <p><span>￥{{ details.total_amount|stringformat:".2f" }}</span></p>#}
                {#            </div>#}
                {#          </div>#}
                <div id="u10943" style="display: none"></div>
                <div id="total_amount" class="ax_default label_14px__red" data-label="Total amount">
                    <div id="total_amount_div" class=""></div>
                    <div id="total_amount_text" class="text ">
                        <p><span>￥{{ details.total_amount|stringformat:".2f" }}</span></p>
                    </div>
                </div>

                <!-- Unnamed (Rectangle) -->
                <div id="u10944" class="ax_default label_14px__red">
                    <div id="u10944_div" class=""></div>
                    <div id="u10944_text" class="text ">
                        <p><span>￥{{ details.shipping|stringformat:".2f" }}</span></p>
                    </div>
                </div>

                <!-- Money_Coupon (Rectangle) -->
                <div id="u10945" class="ax_default label_14px__red" data-label="Money_Coupon">
                    <div id="u10945_div" class=""></div>
                    <div id="u10945_text" class="text ">
                        <p><span>-￥0.00</span></p>
                    </div>
                </div>

                <!-- Unnamed (Rectangle) -->
                <div id="u10946" style="display:none;"></div>
                <div id="real_payment" class="ax_default label_14px__red">
                    <div id="real_payment_div" class=""></div>
                    <div id="real_payment_text" class="text ">
                        <p><span>￥{{ details.real_payment|stringformat:".2f" }}</span></p>
                    </div>
                </div>
            </div>

            <!-- Unnamed (Vertical Line) -->
            <div id="u10947" class="ax_default line">
                <img id="u10947_img" class="img " src="{% static 'luogu/images/支付成功/u10947.svg' %}"/>
                <div id="u10947_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>

            <!-- Unnamed (Group) -->
            <div id="u10948" class="ax_default" data-left="499" data-top="293" data-width="467" data-height="153">

                <!-- Unnamed (Rectangle) -->
                <div id="u10949" class="ax_default label_14px__red">
                    <div id="u10949_div" class=""></div>
                    <div id="u10949_text" class="text ">
                        <p><span>下单时间：</span></p>
                        <p><span>收货人：</span></p>
                        <p><span>联系电话：</span></p>
                        <p><span>收货地址：</span></p>
                    </div>
                </div>

                <!-- Unnamed (Rectangle) -->
                <div id="u10950" class="ax_default label_14px__red">
                    <div id="u10950_div" class=""></div>
                    <div id="u10950_text" class="text ">
                        <p><span>{{ details.name }}</span></p>
                        <p><span>{{ details.telephone }}</span></p>
                        <p><span>{{ details.address }}</span></p>
                    </div>
                </div>

                <!-- Time (Rectangle) -->
                <div id="u10951" style="display: none"></div>
                <div id="time" class="ax_default label_14px__red" data-label="Time">
                    <div id="time_div" class=""></div>
                    <div id="time_text" class="text ">
                        <p><span>{{ details.order_creation_time }}</span></p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Unnamed (Group) -->
        <div id="u10952" class="ax_default" data-left="454" data-top="497" data-width="257" data-height="45">

            <!-- Next_Btn (Rectangle) -->
            <form action="/订单详情.html/{{ order_id }}" method="get">
                {% csrf_token %}
                <button id="u10953" class="ax_default _形状" data-label="Next_Btn" style="cursor: pointer">
                    <div id="u10953_div" class=""></div>
                    <div id="u10953_text" class="text ">
                        <p><span>查看订单</span></p>
                    </div>
                </button>
            </form>

            <!-- More_Address (Rectangle) -->
            <div id="u10954" class="ax_default label_14px__red" data-label="More_Address">
                <div id="u10954_div" class=""></div>
                <div id="u10954_text" class="text ">
                    <p><span>继续逛逛&gt;</span></p>
                </div>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u10955" class="ax_default box_2">
            <div id="u10955_div" class=""></div>
            <div id="u10955_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- 1_Rpt_Similar (Repeater) -->
        <div id="u10956" class="ax_default" data-label="1_Rpt_Similar">
            <script id="u10956_script" type="axure-repeater-template" data-label="1_Rpt_Similar">

                <!-- Unnamed (Dynamic Panel) -->
                <div id="u10957" class="ax_default u10957">
                    <div id="u10957_state0" class="panel_state u10957_state0" data-label="State1" style="">
                        <div id="u10957_state0_content" class="panel_state_content u10957_state0_content">

                            <!-- Unnamed (Rectangle) -->
                            <div id="u10958" class="ax_default box_2 u10958">
                                <div id="u10958_div" class="u10958_div"></div>
                                <div id="u10958_text" class="text u10958_text" style="display:none; visibility: hidden">
                                    <p></p>
                                </div>
                            </div>

                            <!-- Name_Shop_Collection (Rectangle) -->
                            <div id="u10959" class="ax_default label_14px__red u10959"
                                 data-label="Name_Shop_Collection">
                                <div id="u10959_div" class="u10959_div"></div>
                                <div id="u10959_text" class="text u10959_text">
                                    <p><span>商品名称</span></p>
                                </div>
                            </div>

                            <!-- Unnamed (价格) -->

                            <!-- Price_Dt (Dynamic Panel) -->
                            <div id="u10961" class="ax_default u10961" data-label="Price_Dt">
                                <div id="u10961_state0" class="panel_state u10961_state0" data-label="State1" style="">
                                    <div id="u10961_state0_content" class="panel_state_content u10961_state0_content">

                                        <!-- Price (Rectangle) -->
                                        <div id="u10962" class="ax_default label_14px__red u10962" data-label="Price">
                                            <div id="u10962_div" class="u10962_div"></div>
                                            <div id="u10962_text" class="text u10962_text">
                                                <p><span>商品价格</span></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="u10960" style="display:none; visibility:hidden;"></div>

                            <!-- Unnamed (Rectangle) -->
                            <div id="u10963" class="ax_default box_2 u10963">
                                <img id="u10963_img" class="img u10963_img"
                                     src="{% static 'luogu/images/支付成功/u10963.svg' %}"/>
                                <div id="u10963_text" class="text u10963_text" style="display:none; visibility: hidden">
                                    <p></p>
                                </div>
                            </div>

                            <!-- Unnamed (IMG-白) -->

                            <!-- Img_Dt (Dynamic Panel) -->
                            <div id="u10965" class="ax_default u10965" data-label="Img_Dt">
                                <div id="u10965_state0" class="panel_state u10965_state0" data-label="State1" style="">
                                    <div id="u10965_state0_content" class="panel_state_content u10965_state0_content">

                                        <!-- Unnamed (Image) -->
                                        <div id="u10966" class="ax_default _图片_ u10966">
                                            <img id="u10966_img" class="img u10966_img"
                                                 src="{% static 'luogu/images/index/u38.png' %}"/>
                                            <div id="u10966_text" class="text u10966_text"
                                                 style="display:none; visibility: hidden">
                                                <p></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="u10964" style="display:none; visibility:hidden;"></div>
                        </div>
                    </div>
                </div>
            </script>
            {% for product in ret_same_products %}
                <a href="/商品详情页.html/{{ product.id }}">
                    <div id="u10956-1" class="preeval" style="left: {{ product.left }}px; width: 215px; height: 290px;">

                        <!-- Unnamed (Dynamic Panel) -->
                        <div id="u10957-1" class="ax_default u10957" style="visibility: inherit">
                            <div id="u10957-1_state0" class="panel_state u10957_state0" data-label="State1"
                                 style=" width: 215px; height: 290px;visibility: inherit">
                                <div id="u10957-1_state0_content" class="panel_state_content u10957_state0_content"
                                     style="visibility: inherit">

                                    <!-- Unnamed (Rectangle) -->
                                    <div id="u10958-1" class="ax_default box_2 u10958"
                                         style="width: 215px; height: 290px; left: 0px; top: 0px;visibility: inherit">
                                        <div id="u10958-1_div" class="u10958_div"
                                             style="width: 215px; height: 290px;visibility: inherit"></div>
                                        <div id="u10958-1_text" class="text u10958_text"
                                             style="display:none; visibility: hidden">
                                            <p></p>
                                        </div>
                                    </div>

                                    <!-- Name_Shop_Collection (Rectangle) -->
                                    <div id="u10959-1" class="ax_default label_14px__red u10959"
                                         data-label="Name_Shop_Collection"
                                         style="width: 215px; height: 30px; left: 0px; top: 223px;visibility: inherit">
                                        <div id="u10959-1_div" class="u10959_div"
                                             style="width: 215px; height: 30px;visibility: inherit"></div>
                                        <div id="u10959-1_text" class="text u10959_text" style="visibility: inherit">
                                            <p><span>{{ product.name }}</span></p>
                                        </div>
                                    </div>

                                    <!-- Unnamed (价格) -->

                                    <!-- Price_Dt (Dynamic Panel) -->
                                    <div id="u10961-1" class="ax_default u10961" data-label="Price_Dt"
                                         style="visibility: inherit">
                                        <div id="u10961-1_state0" class="panel_state u10961_state0" data-label="State1"
                                             style=" width: 150px; height: 30px;visibility: inherit">
                                            <div id="u10961-1_state0_content"
                                                 class="panel_state_content u10961_state0_content"
                                                 style="visibility: inherit">

                                                <!-- Price (Rectangle) -->
                                                <div id="u10962-1" class="ax_default label_14px__red u10962"
                                                     data-label="Price"
                                                     style="width: 150px; height: 30px; left: 0px; top: 0px;visibility: inherit">
                                                    <div id="u10962-1_div" class="u10962_div"
                                                         style="width: 150px; height: 30px;visibility: inherit"></div>
                                                    <div id="u10962-1_text" class="text u10962_text"
                                                         style="visibility: inherit">
                                                        <p><span>{{ product.selling_price }}</span></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="u10960-1" style="display:none; visibility:hidden;"></div>

                                    <!-- Unnamed (Rectangle) -->
                                    <div id="u10963-1" class="ax_default box_2 u10963"
                                         style="width: 215px; height: 215px; left: 0px; top: 0px;visibility: inherit">
                                        <img id="u10963-1_img" class="img u10963_img"
                                             src="/media/{{ product.img }}"/>
                                        <div id="u10963-1_text" class="text u10963_text"
                                             style="display:none; visibility: hidden">
                                            <p></p>
                                        </div>
                                    </div>

                                    <!-- Unnamed (IMG-白) -->

                                    <!-- Img_Dt (Dynamic Panel) -->
                                    <div id="u10965-1" class="ax_default u10965" data-label="Img_Dt"
                                         style="visibility: inherit">
                                        <div id="u10965-1_state0" class="panel_state u10965_state0" data-label="State1"
                                             style=" width: 120px; height: 120px;visibility: inherit">
                                            <div id="u10965-1_state0_content"
                                                 class="panel_state_content u10965_state0_content"
                                                 style="visibility: inherit">

                                                <!-- Unnamed (Image) -->
                                                <div id="u10966-1" class="ax_default _图片_ u10966"
                                                     style="width: 80px; height: 64px; left: 20px; top: 28px;visibility: inherit">
                                                    {#                                            <img id="u10966-1_img" class="img u10966_img"#}
                                                    {#                                                 src="{% static 'luogu/images/index/u38.png' %}"/>#}
                                                    <div id="u10966-1_text" class="text u10966_text"
                                                         style="display:none; visibility: hidden">
                                                        <p></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="u10964-1" style="display:none; visibility:hidden;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u10967" class="ax_default box_2">
            <div id="u10967_div" class=""></div>
            <div id="u10967_text" class="text ">
                <p><span>大家都在看</span></p>
            </div>
        </div>

        <!-- Unnamed (网站底部) -->

        <!-- Unnamed (Dynamic Panel) -->
        <div id="u10969" class="ax_default">
            <div id="u10969_state0" class="panel_state" data-label="State1" style="">
                <div id="u10969_state0_content" class="panel_state_content">

                    <!-- Unnamed (Group) -->
                    <div id="u10970" class="ax_default" data-left="75" data-top="50" data-width="200" data-height="152">

                        <!-- Unnamed (Rectangle) -->
                        <div id="u10971" class="ax_default label_14px__red">
                            <div id="u10971_div" class=""></div>
                            <div id="u10971_text" class="text ">
                                <p><span>客户服务</span></p>
                            </div>
                        </div>

                        <!-- Unnamed (Group) -->
                        <div id="u10972" class="ax_default" data-left="75" data-top="102" data-width="200"
                             data-height="100">

                            <!-- Unnamed (Dynamic Panel) -->
                            <div id="u10973" class="ax_default">
                                <div id="u10973_state0" class="panel_state" data-label="State1" style="">
                                    <div id="u10973_state0_content" class="panel_state_content">

                                        <!-- Unnamed (Rectangle) -->
                                        <div id="u10974" class="ax_default box1__eee">
                                            <div id="u10974_div" class=""></div>
                                            <div id="u10974_text" class="text "
                                                 style="display:none; visibility: hidden">
                                                <p></p>
                                            </div>
                                        </div>

                                        <!-- Unnamed (Rectangle) -->
                                        <div id="u10975" class="ax_default label_14px__red">
                                            <div id="u10975_div" class=""></div>
                                            <div id="u10975_text" class="text ">
                                                <p><span>在线客服</span></p>
                                            </div>
                                        </div>

                                        <!-- Unnamed (Image) -->
                                        <div id="u10976" class="ax_default _图片_">
                                            <img id="u10976_img" class="img "
                                                 src="{% static 'luogu/images/index/u609.png' %}"/>
                                            <div id="u10976_text" class="text "
                                                 style="display:none; visibility: hidden">
                                                <p></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Unnamed (Dynamic Panel) -->
                            <div id="u10977" class="ax_default">
                                <div id="u10977_state0" class="panel_state" data-label="State1" style="">
                                    <div id="u10977_state0_content" class="panel_state_content">

                                        <!-- Unnamed (Rectangle) -->
                                        <div id="u10978" class="ax_default box1__eee">
                                            <div id="u10978_div" class=""></div>
                                            <div id="u10978_text" class="text "
                                                 style="display:none; visibility: hidden">
                                                <p></p>
                                            </div>
                                        </div>

                                        <!-- Unnamed (Rectangle) -->
                                        <div id="u10979" class="ax_default label_14px__red">
                                            <div id="u10979_div" class=""></div>
                                            <div id="u10979_text" class="text ">
                                                <p><span>用户反馈</span></p>
                                            </div>
                                        </div>

                                        <!-- Unnamed (Image) -->
                                        <div id="u10980" class="ax_default _图片_">
                                            <img id="u10980_img" class="img "
                                                 src="{% static 'luogu/images/index/u613.png' %}"/>
                                            <div id="u10980_text" class="text "
                                                 style="display:none; visibility: hidden">
                                                <p></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Unnamed (Rectangle) -->
                    <div id="u10981" class="ax_default label_14px__red">
                        <div id="u10981_div" class=""></div>
                        <div id="u10981_text" class="text ">
                            <p><span>产品原型公众号</span></p>
                        </div>
                    </div>

                    <!-- Unnamed (Rectangle) -->
                    <div id="u10982" class="ax_default label_14px__red">
                        <div id="u10982_div" class=""></div>
                        <div id="u10982_text" class="text ">
                            <p><span style="font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;">扫描二维码</span>
                            </p>
                            <p><span style="font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;">关注卖冰酒小组</span>
                            </p>
                            <p><span style="font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;"></span>
                            </p>
                            <p><span style="font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;"><br></span>
                            </p>
                        </div>
                    </div>

                    <!-- Unnamed (Image) -->
                    <div id="u10983" class="ax_default _图片_">
                        <img id="u10983_img" class="img " src="{% static 'luogu/images/index/u616.png' %}"/>
                        <div id="u10983_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Unnamed (Dynamic Panel) -->
        <div id="u10984" class="ax_default">
            <div id="u10984_state0" class="panel_state" data-label="State1" style="">
                <div id="u10984_state0_content" class="panel_state_content">
                </div>
            </div>
        </div>
        <div id="u10968" style="display:none; visibility:hidden;"></div>

        <!-- Unnamed (返回顶部) -->

        <!-- Top (Rectangle) -->
        <div id="u10986" class="ax_default box1__eee___ ax_default_hidden" data-label="Top"
             style="display:none; visibility: hidden">
            <div id="u10986_div" class=""></div>
            <div id="u10986_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>
        <div id="u10985" style="display:none; visibility:hidden;"></div>
    </div>
    <script src="{% static 'luogu/resources/scripts/axure/ios.js' %}"></script>
    {#    </body>#}
{% endblock %}