<!DOCTYPE html>
<html>
  <head>
    <title>物流助手</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="files/物流助手/styles.css" type="text/css" rel="stylesheet"/>
    <script src="resources/scripts/jquery-3.2.1.min.js"></script>
    <script src="resources/scripts/axure/axQuery.js"></script>
    <script src="resources/scripts/axure/globals.js"></script>
    <script src="resources/scripts/axutils.js"></script>
    <script src="resources/scripts/axure/annotation.js"></script>
    <script src="resources/scripts/axure/axQuery.std.js"></script>
    <script src="resources/scripts/axure/doc.js"></script>
    <script src="resources/scripts/messagecenter.js"></script>
    <script src="resources/scripts/axure/events.js"></script>
    <script src="resources/scripts/axure/recording.js"></script>
    <script src="resources/scripts/axure/action.js"></script>
    <script src="resources/scripts/axure/expr.js"></script>
    <script src="resources/scripts/axure/geometry.js"></script>
    <script src="resources/scripts/axure/flyout.js"></script>
    <script src="resources/scripts/axure/model.js"></script>
    <script src="resources/scripts/axure/repeater.js"></script>
    <script src="resources/scripts/axure/sto.js"></script>
    <script src="resources/scripts/axure/utils.temp.js"></script>
    <script src="resources/scripts/axure/variables.js"></script>
    <script src="resources/scripts/axure/drag.js"></script>
    <script src="resources/scripts/axure/move.js"></script>
    <script src="resources/scripts/axure/visibility.js"></script>
    <script src="resources/scripts/axure/style.js"></script>
    <script src="resources/scripts/axure/adaptive.js"></script>
    <script src="resources/scripts/axure/tree.js"></script>
    <script src="resources/scripts/axure/init.temp.js"></script>
    <script src="resources/scripts/axure/legacy.js"></script>
    <script src="resources/scripts/axure/viewer.js"></script>
    <script src="resources/scripts/axure/math.js"></script>
    <script src="resources/scripts/axure/jquery.nicescroll.min.js"></script>
    <script src="data/document.js"></script>
    <script src="files/物流助手/data.js"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Rpt_Cart (Repeater) -->
      <div id="u5052" class="ax_default" data-label="Rpt_Cart">
        <script id="u5052_script" type="axure-repeater-template" data-label="Rpt_Cart">

          <!-- Unnamed (Rectangle) -->
          <div id="u5053" class="ax_default box1__eee u5053">
            <div id="u5053_div" class="u5053_div"></div>
            <div id="u5053_text" class="text u5053_text" style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u5054" class="ax_default box1__eee u5054">
            <div id="u5054_div" class="u5054_div"></div>
            <div id="u5054_text" class="text u5054_text" style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Name_Activity (Rectangle) -->
          <div id="u5055" class="ax_default label_14px__red u5055" data-label="Name_Activity">
            <div id="u5055_div" class="u5055_div"></div>
            <div id="u5055_text" class="text u5055_text">
              <p><span>商品名称</span></p>
            </div>
          </div>

          <!-- Describe_Activity (Rectangle) -->
          <div id="u5056" class="ax_default label_14px__red u5056" data-label="Describe_Activity">
            <div id="u5056_div" class="u5056_div"></div>
            <div id="u5056_text" class="text u5056_text">
              <p><span>商品种数</span></p>
            </div>
          </div>

          <!-- Unnamed (Group) -->
          <div id="u5057" class="ax_default u5057" data-left="25" data-top="66" data-width="100" data-height="100">

            <!-- Unnamed (Rectangle) -->
            <div id="u5058" class="ax_default box_2 u5058">
              <div id="u5058_div" class="u5058_div"></div>
              <div id="u5058_text" class="text u5058_text" style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>

            <!-- Unnamed (Image) -->
            <div id="u5059" class="ax_default _图片_ u5059">
              <img id="u5059_img" class="img u5059_img" src="images/index/u38.png"/>
              <div id="u5059_text" class="text u5059_text" style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>
          </div>

          <!-- Order (Rectangle) -->
          <div id="u5060" class="ax_default label_14px__red u5060" data-label="Order">
            <div id="u5060_div" class="u5060_div"></div>
            <div id="u5060_text" class="text u5060_text">
              <p><span>订单已发货</span></p>
            </div>
          </div>

          <!-- Order (Rectangle) -->
          <div id="u5061" class="ax_default label_14px__red u5061" data-label="Order">
            <div id="u5061_div" class="u5061_div"></div>
            <div id="u5061_text" class="text u5061_text">
              <p><span>时间</span></p>
            </div>
          </div>

          <!-- More (Rectangle) -->
          <div id="u5062" class="ax_default label_14px__red u5062" data-label="More">
            <div id="u5062_div" class="u5062_div"></div>
            <div id="u5062_text" class="text u5062_text">
              <p><span>查看详情 &gt;</span></p>
            </div>
          </div>
        </script>
        <div id="u5052-1" class="preeval" style="width: 980px; height: 184px;">

          <!-- Unnamed (Rectangle) -->
          <div id="u5053-1" class="ax_default box1__eee u5053" style="width: 980px; height: 135px; left: 0px; top: 49px;visibility: inherit">
            <div id="u5053-1_div" class="u5053_div" style="width: 980px; height: 135px;visibility: inherit"></div>
            <div id="u5053-1_text" class="text u5053_text" style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u5054-1" class="ax_default box1__eee u5054" style="width: 980px; height: 50px; left: 0px; top: 0px;visibility: inherit">
            <div id="u5054-1_div" class="u5054_div" style="width: 980px; height: 50px;visibility: inherit"></div>
            <div id="u5054-1_text" class="text u5054_text" style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Name_Activity (Rectangle) -->
          <div id="u5055-1" class="ax_default label_14px__red u5055" data-label="Name_Activity" style="width: 300px; height: 30px; left: 142px; top: 64px;visibility: inherit">
            <div id="u5055-1_div" class="u5055_div" style="width: 300px; height: 30px;visibility: inherit"></div>
            <div id="u5055-1_text" class="text u5055_text" style="visibility: inherit">
              <p><span style="font-size:18px;">防蓝光电脑护目镜</span></p>
            </div>
          </div>

          <!-- Describe_Activity (Rectangle) -->
          <div id="u5056-1" class="ax_default label_14px__red u5056" data-label="Describe_Activity" style="width: 300px; height: 26px; left: 142px; top: 100px;visibility: inherit">
            <div id="u5056-1_div" class="u5056_div" style="width: 300px; height: 26px;visibility: inherit"></div>
            <div id="u5056-1_text" class="text u5056_text" style="visibility: inherit">
              <p><span>商品种数</span></p>
            </div>
          </div>

          <!-- Unnamed (Group) -->
          <div id="u5057-1" class="ax_default u5057" style="visibility: inherit" data-left="25" data-top="66" data-width="100" data-height="100">

            <!-- Unnamed (Rectangle) -->
            <div id="u5058-1" class="ax_default box_2 u5058" style="width: 100px; height: 100px; left: 25px; top: 66px;visibility: inherit">
              <div id="u5058-1_div" class="u5058_div" style="width: 100px; height: 100px;visibility: inherit"></div>
              <div id="u5058-1_text" class="text u5058_text" style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>

            <!-- Unnamed (Image) -->
            <div id="u5059-1" class="ax_default _图片_ u5059" style="width: 60px; height: 48px; left: 45px; top: 92px;visibility: inherit">
              <img id="u5059-1_img" class="img u5059_img" src="images/index/u38.png"/>
              <div id="u5059-1_text" class="text u5059_text" style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>
          </div>

          <!-- Order (Rectangle) -->
          <div id="u5060-1" class="ax_default label_14px__red u5060" data-label="Order" style="width: 190px; height: 50px; left: 0px; top: 0px;visibility: inherit">
            <div id="u5060-1_div" class="u5060_div" style="width: 190px; height: 50px;visibility: inherit"></div>
            <div id="u5060-1_text" class="text u5060_text" style="visibility: inherit">
              <p><span>订单已发货</span></p>
            </div>
          </div>

          <!-- Order (Rectangle) -->
          <div id="u5061-1" class="ax_default label_14px__red u5061" data-label="Order" style="width: 160px; height: 50px; left: 198px; top: 0px;visibility: inherit">
            <div id="u5061-1_div" class="u5061_div" style="width: 160px; height: 50px;visibility: inherit"></div>
            <div id="u5061-1_text" class="text u5061_text" style="visibility: inherit">
              <p><span>时间</span></p>
            </div>
          </div>

          <!-- More (Rectangle) -->
          <div id="u5062-1" class="ax_default label_14px__red u5062" data-label="More" style="width: 81px; height: 30px; left: 142px; top: 137px;visibility: inherit">
            <div id="u5062-1_div" class="u5062_div" style="width: 81px; height: 30px;visibility: inherit"></div>
            <div id="u5062-1_text" class="text u5062_text" style="visibility: inherit">
              <p><span>查看详情 &gt;</span></p>
            </div>
          </div>
        </div>
        <div id="u5052-2" class="preeval" style="width: 980px; height: 184px;">

          <!-- Unnamed (Rectangle) -->
          <div id="u5053-2" class="ax_default box1__eee u5053" style="width: 980px; height: 135px; left: 0px; top: 49px;visibility: inherit">
            <div id="u5053-2_div" class="u5053_div" style="width: 980px; height: 135px;visibility: inherit"></div>
            <div id="u5053-2_text" class="text u5053_text" style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u5054-2" class="ax_default box1__eee u5054" style="width: 980px; height: 50px; left: 0px; top: 0px;visibility: inherit">
            <div id="u5054-2_div" class="u5054_div" style="width: 980px; height: 50px;visibility: inherit"></div>
            <div id="u5054-2_text" class="text u5054_text" style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Name_Activity (Rectangle) -->
          <div id="u5055-2" class="ax_default label_14px__red u5055" data-label="Name_Activity" style="width: 300px; height: 30px; left: 142px; top: 64px;visibility: inherit">
            <div id="u5055-2_div" class="u5055_div" style="width: 300px; height: 30px;visibility: inherit"></div>
            <div id="u5055-2_text" class="text u5055_text" style="visibility: inherit">
              <p><span style="font-size:18px;">圆形护颈苦荞麦枕</span></p>
            </div>
          </div>

          <!-- Describe_Activity (Rectangle) -->
          <div id="u5056-2" class="ax_default label_14px__red u5056" data-label="Describe_Activity" style="width: 300px; height: 26px; left: 142px; top: 100px;visibility: inherit">
            <div id="u5056-2_div" class="u5056_div" style="width: 300px; height: 26px;visibility: inherit"></div>
            <div id="u5056-2_text" class="text u5056_text" style="visibility: inherit">
              <p><span>商品种数</span></p>
            </div>
          </div>

          <!-- Unnamed (Group) -->
          <div id="u5057-2" class="ax_default u5057" style="visibility: inherit" data-left="25" data-top="66" data-width="100" data-height="100">

            <!-- Unnamed (Rectangle) -->
            <div id="u5058-2" class="ax_default box_2 u5058" style="width: 100px; height: 100px; left: 25px; top: 66px;visibility: inherit">
              <div id="u5058-2_div" class="u5058_div" style="width: 100px; height: 100px;visibility: inherit"></div>
              <div id="u5058-2_text" class="text u5058_text" style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>

            <!-- Unnamed (Image) -->
            <div id="u5059-2" class="ax_default _图片_ u5059" style="width: 60px; height: 48px; left: 45px; top: 92px;visibility: inherit">
              <img id="u5059-2_img" class="img u5059_img" src="images/index/u38.png"/>
              <div id="u5059-2_text" class="text u5059_text" style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>
          </div>

          <!-- Order (Rectangle) -->
          <div id="u5060-2" class="ax_default label_14px__red u5060" data-label="Order" style="width: 190px; height: 50px; left: 0px; top: 0px;visibility: inherit">
            <div id="u5060-2_div" class="u5060_div" style="width: 190px; height: 50px;visibility: inherit"></div>
            <div id="u5060-2_text" class="text u5060_text" style="visibility: inherit">
              <p><span>订单已发货</span></p>
            </div>
          </div>

          <!-- Order (Rectangle) -->
          <div id="u5061-2" class="ax_default label_14px__red u5061" data-label="Order" style="width: 160px; height: 50px; left: 198px; top: 0px;visibility: inherit">
            <div id="u5061-2_div" class="u5061_div" style="width: 160px; height: 50px;visibility: inherit"></div>
            <div id="u5061-2_text" class="text u5061_text" style="visibility: inherit">
              <p><span>时间</span></p>
            </div>
          </div>

          <!-- More (Rectangle) -->
          <div id="u5062-2" class="ax_default label_14px__red u5062" data-label="More" style="width: 81px; height: 30px; left: 142px; top: 137px;visibility: inherit">
            <div id="u5062-2_div" class="u5062_div" style="width: 81px; height: 30px;visibility: inherit"></div>
            <div id="u5062-2_text" class="text u5062_text" style="visibility: inherit">
              <p><span>查看详情 &gt;</span></p>
            </div>
          </div>
        </div>
        <div id="u5052-3" class="preeval" style="width: 980px; height: 184px;">

          <!-- Unnamed (Rectangle) -->
          <div id="u5053-3" class="ax_default box1__eee u5053" style="width: 980px; height: 135px; left: 0px; top: 49px;visibility: inherit">
            <div id="u5053-3_div" class="u5053_div" style="width: 980px; height: 135px;visibility: inherit"></div>
            <div id="u5053-3_text" class="text u5053_text" style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u5054-3" class="ax_default box1__eee u5054" style="width: 980px; height: 50px; left: 0px; top: 0px;visibility: inherit">
            <div id="u5054-3_div" class="u5054_div" style="width: 980px; height: 50px;visibility: inherit"></div>
            <div id="u5054-3_text" class="text u5054_text" style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Name_Activity (Rectangle) -->
          <div id="u5055-3" class="ax_default label_14px__red u5055" data-label="Name_Activity" style="width: 300px; height: 30px; left: 142px; top: 64px;visibility: inherit">
            <div id="u5055-3_div" class="u5055_div" style="width: 300px; height: 30px;visibility: inherit"></div>
            <div id="u5055-3_text" class="text u5055_text" style="visibility: inherit">
              <p><span style="font-size:18px;">澳洲羊羔毛AB面盖毯</span></p>
            </div>
          </div>

          <!-- Describe_Activity (Rectangle) -->
          <div id="u5056-3" class="ax_default label_14px__red u5056" data-label="Describe_Activity" style="width: 300px; height: 26px; left: 142px; top: 100px;visibility: inherit">
            <div id="u5056-3_div" class="u5056_div" style="width: 300px; height: 26px;visibility: inherit"></div>
            <div id="u5056-3_text" class="text u5056_text" style="visibility: inherit">
              <p><span>商品种数</span></p>
            </div>
          </div>

          <!-- Unnamed (Group) -->
          <div id="u5057-3" class="ax_default u5057" style="visibility: inherit" data-left="25" data-top="66" data-width="100" data-height="100">

            <!-- Unnamed (Rectangle) -->
            <div id="u5058-3" class="ax_default box_2 u5058" style="width: 100px; height: 100px; left: 25px; top: 66px;visibility: inherit">
              <div id="u5058-3_div" class="u5058_div" style="width: 100px; height: 100px;visibility: inherit"></div>
              <div id="u5058-3_text" class="text u5058_text" style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>

            <!-- Unnamed (Image) -->
            <div id="u5059-3" class="ax_default _图片_ u5059" style="width: 60px; height: 48px; left: 45px; top: 92px;visibility: inherit">
              <img id="u5059-3_img" class="img u5059_img" src="images/index/u38.png"/>
              <div id="u5059-3_text" class="text u5059_text" style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>
          </div>

          <!-- Order (Rectangle) -->
          <div id="u5060-3" class="ax_default label_14px__red u5060" data-label="Order" style="width: 190px; height: 50px; left: 0px; top: 0px;visibility: inherit">
            <div id="u5060-3_div" class="u5060_div" style="width: 190px; height: 50px;visibility: inherit"></div>
            <div id="u5060-3_text" class="text u5060_text" style="visibility: inherit">
              <p><span>订单已发货</span></p>
            </div>
          </div>

          <!-- Order (Rectangle) -->
          <div id="u5061-3" class="ax_default label_14px__red u5061" data-label="Order" style="width: 160px; height: 50px; left: 198px; top: 0px;visibility: inherit">
            <div id="u5061-3_div" class="u5061_div" style="width: 160px; height: 50px;visibility: inherit"></div>
            <div id="u5061-3_text" class="text u5061_text" style="visibility: inherit">
              <p><span>时间</span></p>
            </div>
          </div>

          <!-- More (Rectangle) -->
          <div id="u5062-3" class="ax_default label_14px__red u5062" data-label="More" style="width: 81px; height: 30px; left: 142px; top: 137px;visibility: inherit">
            <div id="u5062-3_div" class="u5062_div" style="width: 81px; height: 30px;visibility: inherit"></div>
            <div id="u5062-3_text" class="text u5062_text" style="visibility: inherit">
              <p><span>查看详情 &gt;</span></p>
            </div>
          </div>
        </div>
        <div id="u5052-4" class="preeval" style="width: 980px; height: 184px;">

          <!-- Unnamed (Rectangle) -->
          <div id="u5053-4" class="ax_default box1__eee u5053" style="width: 980px; height: 135px; left: 0px; top: 49px;visibility: inherit">
            <div id="u5053-4_div" class="u5053_div" style="width: 980px; height: 135px;visibility: inherit"></div>
            <div id="u5053-4_text" class="text u5053_text" style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u5054-4" class="ax_default box1__eee u5054" style="width: 980px; height: 50px; left: 0px; top: 0px;visibility: inherit">
            <div id="u5054-4_div" class="u5054_div" style="width: 980px; height: 50px;visibility: inherit"></div>
            <div id="u5054-4_text" class="text u5054_text" style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Name_Activity (Rectangle) -->
          <div id="u5055-4" class="ax_default label_14px__red u5055" data-label="Name_Activity" style="width: 300px; height: 30px; left: 142px; top: 64px;visibility: inherit">
            <div id="u5055-4_div" class="u5055_div" style="width: 300px; height: 30px;visibility: inherit"></div>
            <div id="u5055-4_text" class="text u5055_text" style="visibility: inherit">
              <p><span style="font-size:18px;">Speed 儿童酷炫极速自行车</span></p>
            </div>
          </div>

          <!-- Describe_Activity (Rectangle) -->
          <div id="u5056-4" class="ax_default label_14px__red u5056" data-label="Describe_Activity" style="width: 300px; height: 26px; left: 142px; top: 100px;visibility: inherit">
            <div id="u5056-4_div" class="u5056_div" style="width: 300px; height: 26px;visibility: inherit"></div>
            <div id="u5056-4_text" class="text u5056_text" style="visibility: inherit">
              <p><span>商品种数</span></p>
            </div>
          </div>

          <!-- Unnamed (Group) -->
          <div id="u5057-4" class="ax_default u5057" style="visibility: inherit" data-left="25" data-top="66" data-width="100" data-height="100">

            <!-- Unnamed (Rectangle) -->
            <div id="u5058-4" class="ax_default box_2 u5058" style="width: 100px; height: 100px; left: 25px; top: 66px;visibility: inherit">
              <div id="u5058-4_div" class="u5058_div" style="width: 100px; height: 100px;visibility: inherit"></div>
              <div id="u5058-4_text" class="text u5058_text" style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>

            <!-- Unnamed (Image) -->
            <div id="u5059-4" class="ax_default _图片_ u5059" style="width: 60px; height: 48px; left: 45px; top: 92px;visibility: inherit">
              <img id="u5059-4_img" class="img u5059_img" src="images/index/u38.png"/>
              <div id="u5059-4_text" class="text u5059_text" style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>
          </div>

          <!-- Order (Rectangle) -->
          <div id="u5060-4" class="ax_default label_14px__red u5060" data-label="Order" style="width: 190px; height: 50px; left: 0px; top: 0px;visibility: inherit">
            <div id="u5060-4_div" class="u5060_div" style="width: 190px; height: 50px;visibility: inherit"></div>
            <div id="u5060-4_text" class="text u5060_text" style="visibility: inherit">
              <p><span>订单已发货</span></p>
            </div>
          </div>

          <!-- Order (Rectangle) -->
          <div id="u5061-4" class="ax_default label_14px__red u5061" data-label="Order" style="width: 160px; height: 50px; left: 198px; top: 0px;visibility: inherit">
            <div id="u5061-4_div" class="u5061_div" style="width: 160px; height: 50px;visibility: inherit"></div>
            <div id="u5061-4_text" class="text u5061_text" style="visibility: inherit">
              <p><span>时间</span></p>
            </div>
          </div>

          <!-- More (Rectangle) -->
          <div id="u5062-4" class="ax_default label_14px__red u5062" data-label="More" style="width: 81px; height: 30px; left: 142px; top: 137px;visibility: inherit">
            <div id="u5062-4_div" class="u5062_div" style="width: 81px; height: 30px;visibility: inherit"></div>
            <div id="u5062-4_text" class="text u5062_text" style="visibility: inherit">
              <p><span>查看详情 &gt;</span></p>
            </div>
          </div>
        </div>
        <div id="u5052-5" class="preeval" style="width: 980px; height: 184px;">

          <!-- Unnamed (Rectangle) -->
          <div id="u5053-5" class="ax_default box1__eee u5053" style="width: 980px; height: 135px; left: 0px; top: 49px;visibility: inherit">
            <div id="u5053-5_div" class="u5053_div" style="width: 980px; height: 135px;visibility: inherit"></div>
            <div id="u5053-5_text" class="text u5053_text" style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u5054-5" class="ax_default box1__eee u5054" style="width: 980px; height: 50px; left: 0px; top: 0px;visibility: inherit">
            <div id="u5054-5_div" class="u5054_div" style="width: 980px; height: 50px;visibility: inherit"></div>
            <div id="u5054-5_text" class="text u5054_text" style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Name_Activity (Rectangle) -->
          <div id="u5055-5" class="ax_default label_14px__red u5055" data-label="Name_Activity" style="width: 300px; height: 30px; left: 142px; top: 64px;visibility: inherit">
            <div id="u5055-5_div" class="u5055_div" style="width: 300px; height: 30px;visibility: inherit"></div>
            <div id="u5055-5_text" class="text u5055_text" style="visibility: inherit">
              <p><span style="font-size:18px;">轨道滚珠积木玩具亲子互动套装</span></p>
            </div>
          </div>

          <!-- Describe_Activity (Rectangle) -->
          <div id="u5056-5" class="ax_default label_14px__red u5056" data-label="Describe_Activity" style="width: 300px; height: 26px; left: 142px; top: 100px;visibility: inherit">
            <div id="u5056-5_div" class="u5056_div" style="width: 300px; height: 26px;visibility: inherit"></div>
            <div id="u5056-5_text" class="text u5056_text" style="visibility: inherit">
              <p><span>商品种数</span></p>
            </div>
          </div>

          <!-- Unnamed (Group) -->
          <div id="u5057-5" class="ax_default u5057" style="visibility: inherit" data-left="25" data-top="66" data-width="100" data-height="100">

            <!-- Unnamed (Rectangle) -->
            <div id="u5058-5" class="ax_default box_2 u5058" style="width: 100px; height: 100px; left: 25px; top: 66px;visibility: inherit">
              <div id="u5058-5_div" class="u5058_div" style="width: 100px; height: 100px;visibility: inherit"></div>
              <div id="u5058-5_text" class="text u5058_text" style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>

            <!-- Unnamed (Image) -->
            <div id="u5059-5" class="ax_default _图片_ u5059" style="width: 60px; height: 48px; left: 45px; top: 92px;visibility: inherit">
              <img id="u5059-5_img" class="img u5059_img" src="images/index/u38.png"/>
              <div id="u5059-5_text" class="text u5059_text" style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>
          </div>

          <!-- Order (Rectangle) -->
          <div id="u5060-5" class="ax_default label_14px__red u5060" data-label="Order" style="width: 190px; height: 50px; left: 0px; top: 0px;visibility: inherit">
            <div id="u5060-5_div" class="u5060_div" style="width: 190px; height: 50px;visibility: inherit"></div>
            <div id="u5060-5_text" class="text u5060_text" style="visibility: inherit">
              <p><span>订单已发货</span></p>
            </div>
          </div>

          <!-- Order (Rectangle) -->
          <div id="u5061-5" class="ax_default label_14px__red u5061" data-label="Order" style="width: 160px; height: 50px; left: 198px; top: 0px;visibility: inherit">
            <div id="u5061-5_div" class="u5061_div" style="width: 160px; height: 50px;visibility: inherit"></div>
            <div id="u5061-5_text" class="text u5061_text" style="visibility: inherit">
              <p><span>时间</span></p>
            </div>
          </div>

          <!-- More (Rectangle) -->
          <div id="u5062-5" class="ax_default label_14px__red u5062" data-label="More" style="width: 81px; height: 30px; left: 142px; top: 137px;visibility: inherit">
            <div id="u5062-5_div" class="u5062_div" style="width: 81px; height: 30px;visibility: inherit"></div>
            <div id="u5062-5_text" class="text u5062_text" style="visibility: inherit">
              <p><span>查看详情 &gt;</span></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="resources/scripts/axure/ios.js"></script>
  </body>
</html>
