{% extends "base.html" %}
{% load staticfiles %}

{% block upjs %}
    <title>用户注册</title>
    <link href="{% static 'luogu/files/用户注册/styles.css' %}" type="text/css" rel="stylesheet"/>
    <script src="{% static 'luogu/files/用户注册/data.js' %}"></script>
{% endblock %}

{% block main %}
    <body>
    <div id="base" class="">

        <!-- Unnamed (Dynamic Panel) -->
        <div id="u11045" class="ax_default">
            <div id="u11045_state0" class="panel_state" data-label="State1" style="">
                <div id="u11045_state0_content" class="panel_state_content">

                    <!-- Unnamed (网站LOGO) -->

                    <!-- Unnamed (Rectangle) -->
                    <div id="u11047" class="ax_default _二级标题">
                        <div id="u11047_div" class=""></div>
                        <div id="u11047_text" class="text ">
                            <p><span>冰酒销售系统</span></p>
                        </div>
                    </div>
                    <div id="u11046" style="display:none; visibility:hidden;"></div>

                    <!-- Unnamed (Rectangle) -->
                    <div id="u11048" class="ax_default label_14px__red ax_default_hidden"
                         style="display:none; visibility: hidden">
                        <div id="u11048_div" class=""></div>
                        <div id="u11048_text" class="text ">
                            <p><span>Axure教程</span></p>
                        </div>
                    </div>

                    <!-- Unnamed (Rectangle) -->
                    <div id="u11049" class="ax_default label_14px__red ax_default_hidden"
                         style="display:none; visibility: hidden">
                        <div id="u11049_div" class=""></div>
                        <div id="u11049_text" class="text ">
                            <p><span>购买VIP原型</span></p>
                        </div>
                    </div>

                    <!-- Unnamed (Dynamic Panel) -->
                    <div id="u11050" class="ax_default">
                        <div id="u11050_state0" class="panel_state" data-label="State1" style="">
                            <div id="u11050_state0_content" class="panel_state_content">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u11051" class="ax_default box1__eee">
            <div id="u11051_div" class=""></div>
            <div id="u11051_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Register (Dynamic Panel) -->
        <div id="u11052" class="ax_default" data-label="Register">
            <div id="u11052_state0" class="panel_state" data-label="State1" style="">
                <div id="u11052_state0_content" class="panel_state_content">

                    <!-- Unnamed (Group) -->
                    <div id="u11053" class="ax_default" data-left="70" data-top="86" data-width="336" data-height="290">

                        <!-- Box_Phone (Rectangle) -->
                        <div id="u11054" class="ax_default box1__eee" data-label="Box_Phone">
                            <div id="u11054_div" class=""></div>
                            <div id="u11054_text" class="text " style="display:none; visibility: hidden">
                                <p></p>
                            </div>
                        </div>

                        <!-- Input_Phone (Text Field) -->
                        <div id="u11055" class="ax_default _文本框" data-label="Input_Phone">
                            <div id="u11055_div" class=""></div>
                            <input id="u11055_input" type="text" value="" class="u11055_input"/>
                        </div>

                        <!-- Unnamed (Image) -->
                        <div id="u11056" class="ax_default _图片_">
                            <img id="u11056_img" class="img " src="{% static 'luogu/images/用户登录/u11021.png' %}"/>
                            <div id="u11056_text" class="text " style="display:none; visibility: hidden">
                                <p></p>
                            </div>
                        </div>

                        <!-- Box_Password (Rectangle) -->
                        <div id="u11057" class="ax_default box1__eee" data-label="Box_Password">
                            <div id="u11057_div" class=""></div>
                            <div id="u11057_text" class="text " style="display:none; visibility: hidden">
                                <p></p>
                            </div>
                        </div>

                        <!-- Input_Password (Text Field) -->
                        <div id="u11058" class="ax_default _文本框" data-label="Input_Password">
                            <div id="u11058_div" class=""></div>
                            <input id="u11058_input" type="password" value="" class="u11058_input"/>
                        </div>

                        <!-- Unnamed (Image) -->
                        <div id="u11059" class="ax_default _图片_">
                            <img id="u11059_img" class="img " src="{% static 'luogu/images/用户登录/u11026.png' %}"/>
                            <div id="u11059_text" class="text " style="display:none; visibility: hidden">
                                <p></p>
                            </div>
                        </div>


                        <!-- Box_Password (Rectangle) -->
                        <div id="u11057" style="top: 246px" class="ax_default box1__eee" data-label="Box_Password">
                            <div id="u11057_div" class=""></div>
                            <div id="u11057_text" class="text " style="display:none; visibility: hidden">
                                <p></p>
                            </div>
                        </div>

                        <!-- Input_Password (Text Field) -->
                        <div id="u11058" style="top: 251px" class="ax_default _文本框" data-label="Input_Password">
                            <div id="u11058_div" class=""></div>
                            <input id="u11058_input2" type="password" value="" placeholder="请再输入一遍"
                                   class="u11058_input"/>
                        </div>

                        <!-- Unnamed (Image) -->
                        <div id="u11059" style="top: 261px" class="ax_default _图片_">
                            <img id="u11059_img" class="img " src="{% static 'luogu/images/用户登录/u11026.png' %}"/>
                            <div id="u11059_text" class="text " style="display:none; visibility: hidden">
                                <p></p>
                            </div>
                        </div>

                        {#              <!-- Box_Verification (Rectangle) -->#}
                        {#              <div id="u11060" class="ax_default box1__eee" data-label="Box_Verification">#}
                        {#                <div id="u11060_div" class=""></div>#}
                        {#                <div id="u11060_text" class="text " style="display:none; visibility: hidden">#}
                        {#                  <p></p>#}
                        {#                </div>#}
                        {#              </div>#}
                        {##}
                        {#              <!-- Input_Verification (Text Field) -->#}
                        {#              <div id="u11061" class="ax_default _文本框" data-label="Input_Verification">#}
                        {#                <div id="u11061_div" class=""></div>#}
                        {#                <input id="u11061_input" type="text" value="" class="u11061_input"/>#}
                        {#              </div>#}
                        {##}
                        {#              <!-- Unnamed (Image) -->#}
                        {#              <div id="u11062" class="ax_default _图片_">#}
                        {#                <img id="u11062_img" class="img " src="{% static 'luogu/images/用户注册/u11062.png' %}"/>#}
                        {#                <div id="u11062_text" class="text " style="display:none; visibility: hidden">#}
                        {#                  <p></p>#}
                        {#                </div>#}
                        {#              </div>#}

                        <!-- Button (Rectangle) -->
                        <div id="u11063" style="display: none"></div>
                        <div id="u11063_btn" class="ax_default _形状1" data-label="Button" style="cursor: pointer">
                            <div id="u11063_div" class=""></div>
                            <div id="u11063_text" class="text ">
                                <p><span>立即注册</span></p>
                            </div>
                        </div>

                        <!-- Verification_Btn (Rectangle) -->
                        {#              <div id="u11064" class="ax_default box1__eee" data-label="Verification_Btn">#}
                        {#                <div id="u11064_div" class=""></div>#}
                        {#                <div id="u11064_text" class="text ">#}
                        {#                  <p><span>获取验证码</span></p>#}
                        {#                </div>#}
                        {#              </div>#}
                    </div>

                    <!-- Correct_Prompt (Dynamic Panel) -->
                    <div id="u11065" class="ax_default ax_default_hidden" data-label="Correct_Prompt"
                         style="display:none; visibility: hidden">
                        <div id="u11065_state0" class="panel_state" data-label="State1" style="">
                            <div id="u11065_state0_content" class="panel_state_content">

                                <!-- Content_Correct_Prompt (Rectangle) -->
                                <div id="u11066" class="ax_default label_14px__red" data-label="Content_Correct_Prompt">
                                    <div id="u11066_div" class=""></div>
                                    <div id="u11066_text" class="text ">
                                        <p><span>提示语</span></p>
                                    </div>
                                </div>

                                <!-- Icon_Correct_Prompt (Image) -->
                                <div id="u11067" class="ax_default _图片_" data-label="Icon_Correct_Prompt">
                                    <img id="u11067_img" class="img "
                                         src="{% static 'luogu/images/用户注册/icon_correct_prompt_u11067.png' %}"/>
                                    <div id="u11067_text" class="text " style="display:none; visibility: hidden">
                                        <p></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Error_Prompt (Dynamic Panel) -->
                    <div id="u11068" class="ax_default ax_default_hidden" data-label="Error_Prompt"
                         style="display:none; visibility: hidden">
                        <div id="u11068_state0" class="panel_state" data-label="State1" style="">
                            <div id="u11068_state0_content" class="panel_state_content">

                                <!-- Content_Errrror_Prompt (Rectangle) -->
                                <div id="u11069" class="ax_default label_14px__red" data-label="Content_Errrror_Prompt">
                                    <div id="u11069_div" class=""></div>
                                    <div id="u11069_text" class="text ">
                                        <p><span>提示语</span></p>
                                    </div>
                                </div>

                                <!-- Icon_Error_Prompt (Image) -->
                                <div id="u11070" class="ax_default _图片_" data-label="Icon_Error_Prompt">
                                    <img id="u11070_img" class="img "
                                         src="{% static 'luogu/images/评价商品/icon_error_prompt_u4551.png' %}"/>
                                    <div id="u11070_text" class="text " style="display:none; visibility: hidden">
                                        <p></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Unnamed (Group) -->
                    <div id="u11071" class="ax_default" data-left="0" data-top="473" data-width="475" data-height="30">

                        <!-- Unnamed (Group) -->
                        <div id="u11072" class="ax_default" data-left="0" data-top="473" data-width="376"
                             data-height="30">

                            <!-- Agree (Image) -->
                            <div id="u11073" class="ax_default _图片_" data-label="Agree">
                                <img id="u11073_img" class="img "
                                     src="{% static 'luogu/images/用户注册/agree_u11073.png' %}"/>
                                <div id="u11073_text" class="text " style="display:none; visibility: hidden">
                                    <p></p>
                                </div>
                            </div>

                            <!-- Unnamed (Rectangle) -->
                            <div id="u11074" class="ax_default label_14px__red">
                                <div id="u11074_div" class=""></div>
                                <div id="u11074_text" class="text ">
                                    <p><span>注册账号即表示您已阅读并同意&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 和</span>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <!-- Unnamed (Rectangle) -->
                        <div id="u11075" class="ax_default label_14px__red">
                            <div id="u11075_div" class=""></div>
                            <div id="u11075_text" class="text ">
                                <p><span>用户服务协议</span></p>
                            </div>
                        </div>

                        <!-- Unnamed (Rectangle) -->
                        <div id="u11076" class="ax_default label_14px__red">
                            <div id="u11076_div" class=""></div>
                            <div id="u11076_text" class="text ">
                                <p><span>用户隐私协议</span></p>
                            </div>
                        </div>
                    </div>

                    <!-- Unnamed (Rectangle) -->
                    <div id="u11077" class="ax_default label_14px__red">
                        <div id="u11077_div" class=""></div>
                        <div id="u11077_text" class="text ">
                            <p><span>用户注册</span></p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="u11052_state1" class="panel_state" data-label="State2" style="visibility: hidden;">
                <div id="u11052_state1_content" class="panel_state_content">

                    <!-- Unnamed (Rectangle) -->
                    <div id="u11078" class="ax_default label_14px__red">
                        <div id="u11078_div" class=""></div>
                        <div id="u11078_text" class="text ">
                            <p style="font-size:20px;"><span
                                    style="font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;font-weight:700;">恭喜你，注册成功</span>
                            </p>
                            <p style="font-size:16px;"><span
                                    style="font-family:'微软雅黑', sans-serif;font-weight:400;color:#666666;">点击下方按钮，或&nbsp; &nbsp; &nbsp; 秒后前往首页</span>
                            </p>
                        </div>
                    </div>

                    <!-- Count down (Rectangle) -->
                    <div id="u11079" class="ax_default box1__eee" data-label="Count down">
                        <div id="u11079_div" class=""></div>
                        <div id="u11079_text" class="text ">
                            <p><span>3</span></p>
                        </div>
                    </div>

                    <!-- Unnamed (成功) -->

                    <!-- Unnamed (Image) -->
                    <div id="u11081" class="ax_default _图片">
                        <img id="u11081_img" class="img " src="{% static 'luogu/images/账号安全-更换手机号/u5979.png' %}"/>
                        <div id="u11081_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>
                    <div id="u11080" style="display:none; visibility:hidden;"></div>

                    <!-- Unnamed (Rectangle) -->
                    <div id="u11082" class="ax_default _形状1">
                        <div id="u11082_div" class=""></div>
                        <div id="u11082_text" class="text ">
                            <p><span>前往首页</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Unnamed (Group) -->
        <div id="u11083" class="ax_default" data-left="1055" data-top="27" data-width="145" data-height="30">

            <!-- Unnamed (Rectangle) -->
            <div id="u11084" class="ax_default label_14px__red">
                <div id="u11084_div" class=""></div>
                <div id="u11084_text" class="text ">
                    <p><span>已有账号，</span></p>
                </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u11085" class="ax_default label_14px__red">
                <div id="u11085_div" class=""></div>
                <div id="u11085_text" class="text ">
                    <p><span>立即登录</span></p>
                </div>
            </div>
        </div>

        <!-- Unnamed (网站底部) -->

        <!-- Unnamed (Dynamic Panel) -->
        <div id="u11087" class="ax_default">
            <div id="u11087_state0" class="panel_state" data-label="State1" style="">
                <div id="u11087_state0_content" class="panel_state_content">

                    <!-- Unnamed (Group) -->
                    <div id="u11088" class="ax_default" data-left="75" data-top="50" data-width="200" data-height="152">

                        <!-- Unnamed (Rectangle) -->
                        <div id="u11089" class="ax_default label_14px__red">
                            <div id="u11089_div" class=""></div>
                            <div id="u11089_text" class="text ">
                                <p><span>客户服务</span></p>
                            </div>
                        </div>

                        <!-- Unnamed (Group) -->
                        <div id="u11090" class="ax_default" data-left="75" data-top="102" data-width="200"
                             data-height="100">

                            <!-- Unnamed (Dynamic Panel) -->
                            <div id="u11091" class="ax_default">
                                <div id="u11091_state0" class="panel_state" data-label="State1" style="">
                                    <div id="u11091_state0_content" class="panel_state_content">

                                        <!-- Unnamed (Rectangle) -->
                                        <div id="u11092" class="ax_default box1__eee">
                                            <div id="u11092_div" class=""></div>
                                            <div id="u11092_text" class="text "
                                                 style="display:none; visibility: hidden">
                                                <p></p>
                                            </div>
                                        </div>

                                        <!-- Unnamed (Rectangle) -->
                                        <div id="u11093" class="ax_default label_14px__red">
                                            <div id="u11093_div" class=""></div>
                                            <div id="u11093_text" class="text ">
                                                <p><span>在线客服</span></p>
                                            </div>
                                        </div>

                                        <!-- Unnamed (Image) -->
                                        <div id="u11094" class="ax_default _图片_">
                                            <img id="u11094_img" class="img "
                                                 src="{% static 'luogu/images/index/u609.png' %}"/>
                                            <div id="u11094_text" class="text "
                                                 style="display:none; visibility: hidden">
                                                <p></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Unnamed (Dynamic Panel) -->
                            <div id="u11095" class="ax_default">
                                <div id="u11095_state0" class="panel_state" data-label="State1" style="">
                                    <div id="u11095_state0_content" class="panel_state_content">

                                        <!-- Unnamed (Rectangle) -->
                                        <div id="u11096" class="ax_default box1__eee">
                                            <div id="u11096_div" class=""></div>
                                            <div id="u11096_text" class="text "
                                                 style="display:none; visibility: hidden">
                                                <p></p>
                                            </div>
                                        </div>

                                        <!-- Unnamed (Rectangle) -->
                                        <div id="u11097" class="ax_default label_14px__red">
                                            <div id="u11097_div" class=""></div>
                                            <div id="u11097_text" class="text ">
                                                <p><span>用户反馈</span></p>
                                            </div>
                                        </div>

                                        <!-- Unnamed (Image) -->
                                        <div id="u11098" class="ax_default _图片_">
                                            <img id="u11098_img" class="img "
                                                 src="{% static 'luogu/images/index/u613.png' %}"/>
                                            <div id="u11098_text" class="text "
                                                 style="display:none; visibility: hidden">
                                                <p></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Unnamed (Rectangle) -->

                    <!-- Unnamed (Rectangle) -->
                    <div id="u11100" class="ax_default label_14px__red">
                        <div id="u11100_div" class=""></div>
                        <div id="u11100_text" class="text ">
                            <p><span style="font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;">扫描二维码</span>
                            </p>
                            <p><span style="font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;">关注卖冰酒小组</span>
                            </p>
                            <p><span style="font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;"></span>
                            </p>
                            <p><span style="font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;"><br></span>
                            </p>
                        </div>
                    </div>

                    <!-- Unnamed (Image) -->
                    <div id="u11101" class="ax_default _图片_">
                        <img id="u11101_img" class="img " src="{% static 'luogu/images/index/u616.png' %}"/>
                        <div id="u11101_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Unnamed (Dynamic Panel) -->
        <div id="u11102" class="ax_default">
            <div id="u11102_state0" class="panel_state" data-label="State1" style="">
                <div id="u11102_state0_content" class="panel_state_content">
                </div>
            </div>
        </div>
        <div id="u11086" style="display:none; visibility:hidden;"></div>
    </div>
    <script src="{% static 'luogu/resources/scripts/axure/ios.js' %}"></script>
    </body>
    <script>
        $.ajaxSetup({
            data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
        });

        function checkuid(name) {
            var reg = new RegExp(/^[A-Za-z0-9_@.+-]*$/);
            //必须以字母开头，且以字母、数字、下划线(_)随意组合的正则式为：  ^[a-zA-Z]{1}\w*$
            return reg.test(name);
        }

        $("#u11063_btn").click(function () {
            var name = $("#u11055_input").val();
            var password1 = $("#u11058_input").val();
            var password2 = $("#u11058_input2").val();
            if (!name) {
                console.log("用户名空");
                return false;
            }
            if (!checkuid(name)) {
                alert("用户名格式错误! 仅包含字母，数字和仅有的@/./+/-/_符号。");
                return false;
            }
            if (!password1) {
                console.log("密码空");
                return false;
            }
            console.log(name);
            console.log(password1);
            console.log(password2);
            if (password1 !== password2) {
                console.log("密码不一致");
                return false;
            }
            $.ajax({
                type: "POST",
                data: {name: name, password: password1},
                url: "/用户注册.html", //后台处理函数的url 这里用的是static url 需要与urls.py中的name一致
                cache: false,
                dataType: "html",
                success: function (res) {
                    res = JSON.parse(res);
                    res = res["result"];
                    if(res)
                        window.location.href = "用户登录.html";
                    else{
                        alert("用户名已存在");
                    }
                },
                error: function () {
                    {#alert("false");#}
                }
            });

        });
    </script>
{% endblock %}