{% extends "base.html" %}
{% load staticfiles %}

{% block upjs %}
    <title>用户登录</title>
    <link href="{% static 'luogu/files/用户登录/styles.css' %}" type="text/css" rel="stylesheet"/>
    <script src="{% static 'luogu/files/用户登录/data.js' %}"></script>
{% endblock %}

{% block main %}
  <body>
    <div id="base" class="">

      <!-- Unnamed (网站底部) -->

      <!-- Unnamed (Dynamic Panel) -->
      <div id="u10988" class="ax_default">
        <div id="u10988_state0" class="panel_state" data-label="State1" style="">
          <div id="u10988_state0_content" class="panel_state_content">

            <!-- Unnamed (Group) -->
            <div id="u10989" class="ax_default" data-left="75" data-top="50" data-width="200" data-height="152">

              <!-- Unnamed (Rectangle) -->
              <div id="u10990" class="ax_default label_14px__red">
                <div id="u10990_div" class=""></div>
                <div id="u10990_text" class="text ">
                  <p><span>客户服务</span></p>
                </div>
              </div>

              <!-- Unnamed (Group) -->
              <div id="u10991" class="ax_default" data-left="75" data-top="102" data-width="200" data-height="100">

                <!-- Unnamed (Dynamic Panel) -->
                <div id="u10992" class="ax_default">
                  <div id="u10992_state0" class="panel_state" data-label="State1" style="">
                    <div id="u10992_state0_content" class="panel_state_content">

                      <!-- Unnamed (Rectangle) -->
                      <div id="u10993" class="ax_default box1__eee">
                        <div id="u10993_div" class=""></div>
                        <div id="u10993_text" class="text " style="display:none; visibility: hidden">
                          <p></p>
                        </div>
                      </div>

                      <!-- Unnamed (Rectangle) -->
                      <div id="u10994" class="ax_default label_14px__red">
                        <div id="u10994_div" class=""></div>
                        <div id="u10994_text" class="text ">
                          <p><span>在线客服</span></p>
                        </div>
                      </div>

                      <!-- Unnamed (Image) -->
                      <div id="u10995" class="ax_default _图片_">
                        <img id="u10995_img" class="img " src="{% static 'luogu/images/index/u609.png' %}"/>
                        <div id="u10995_text" class="text " style="display:none; visibility: hidden">
                          <p></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Unnamed (Dynamic Panel) -->
                <div id="u10996" class="ax_default">
                  <div id="u10996_state0" class="panel_state" data-label="State1" style="">
                    <div id="u10996_state0_content" class="panel_state_content">

                      <!-- Unnamed (Rectangle) -->
                      <div id="u10997" class="ax_default box1__eee">
                        <div id="u10997_div" class=""></div>
                        <div id="u10997_text" class="text " style="display:none; visibility: hidden">
                          <p></p>
                        </div>
                      </div>

                      <!-- Unnamed (Rectangle) -->
                      <div id="u10998" class="ax_default label_14px__red">
                        <div id="u10998_div" class=""></div>
                        <div id="u10998_text" class="text ">
                          <p><span>用户反馈</span></p>
                        </div>
                      </div>

                      <!-- Unnamed (Image) -->
                      <div id="u10999" class="ax_default _图片_">
                        <img id="u10999_img" class="img " src="{% static 'luogu/images/index/u613.png' %}"/>
                        <div id="u10999_text" class="text " style="display:none; visibility: hidden">
                          <p></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

{#            <!-- Unnamed (Rectangle) -->#}
{#            <div id="u11000" class="ax_default label_14px__red">#}
{#              <div id="u11000_div" class=""></div>#}
{#              <div id="u11000_text" class="text ">#}
{#                <p><span>产品原型公众号</span></p>#}
{#              </div>#}
{#            </div>#}
{##}
{#            <!-- Unnamed (Rectangle) -->#}
{#            <div id="u11001" class="ax_default label_14px__red">#}
{#              <div id="u11001_div" class=""></div>#}
{#              <div id="u11001_text" class="text ">#}
{#                <p><span style="font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;">扫描二维码</span></p><p><span style="font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;">关注微信公众号</span></p><p><span style="font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;">产品经理社区访问：www.chanpindashi.com</span></p><p><span style="font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;"><br></span></p>#}
{#              </div>#}
{#            </div>#}

            <!-- Unnamed (Image) -->
{#            <div id="u11002" class="ax_default _图片_">#}
{#              <img id="u11002_img" class="img " src="{% static 'luogu/images/index/u616.png' %}"/>#}
{#              <div id="u11002_text" class="text " style="display:none; visibility: hidden">#}
{#                <p></p>#}
{#              </div>#}
{#            </div>#}
          </div>
        </div>
      </div>

      <!-- Unnamed (Dynamic Panel) -->
      <div id="u11003" class="ax_default">
        <div id="u11003_state0" class="panel_state" data-label="State1" style="">
          <div id="u11003_state0_content" class="panel_state_content">
          </div>
        </div>
      </div>
      <div id="u10987" style="display:none; visibility:hidden;"></div>

      <!-- Unnamed (Dynamic Panel) -->
      <div id="u11004" class="ax_default">
        <div id="u11004_state0" class="panel_state" data-label="State1" style="">
          <div id="u11004_state0_content" class="panel_state_content">
          </div>
        </div>
      </div>

      <!-- Unnamed (Dynamic Panel) -->
      <div id="u11005" class="ax_default">
        <div id="u11005_state0" class="panel_state" data-label="State1" style="">
          <div id="u11005_state0_content" class="panel_state_content">

            <!-- Unnamed (网站LOGO) -->

            <!-- Unnamed (Rectangle) -->
            <div id="u11007" class="ax_default _二级标题">
              <div id="u11007_div" class=""></div>
              <div id="u11007_text" class="text ">
                <p><span>冰酒销售系统</span></p>
              </div>
            </div>
            <div id="u11006" style="display:none; visibility:hidden;"></div>

            <!-- Unnamed (Dynamic Panel) -->
            <div id="u11008" class="ax_default">
              <div id="u11008_state0" class="panel_state" data-label="State1" style="">
                <div id="u11008_state0_content" class="panel_state_content">
                </div>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u11014" style="left: 1096px;" class="ax_default label_14px__red">
              <div id="u11014_div" class=""></div>
              <div id="u11014_text" class="text ">
                <p><span>返回首页</span></p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Unnamed (Dynamic Panel) -->
      <div id="u11015" class="ax_default">
        <div id="u11015_state0" class="panel_state" data-label="State1" style="">
          <div id="u11015_state0_content" class="panel_state_content">
          </div>
        </div>
      </div>

      <!-- 登录 (Dynamic Panel) -->
      <div id="u11016" class="ax_default">
        <div id="u11016_state0" class="panel_state" data-label="State1" style="">
          <div id="u11016_state0_content" class="panel_state_content">

            <!-- Unnamed (Rectangle) -->
            <div id="u11017" class="ax_default box1__eee">
              <div id="u11017_div" class=""></div>
              <div id="u11017_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>
<form action="用户登录.html" method="post">
    {% csrf_token %}
            <!-- Unnamed (Group) -->
            <div id="u11018" class="ax_default" data-left="55" data-top="89" data-width="300" data-height="50">

              <!-- Box_Phone (Rectangle) -->
              <div id="u11019" class="ax_default box1__eee" data-label="Box_Phone">
                <div id="u11019_div" class=""></div>
                <div id="u11019_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>

              <!-- Input_Phone (Text Field) -->
              <div id="u11020" class="ax_default _文本框" data-label="Input_Phone">
                <div id="u11020_div" class=""></div>
                <input id="u11020_input" name="username" type="text" value="" class="u11020_input"/>
              </div>

              <!-- Unnamed (Image) -->
              <div id="u11021" class="ax_default _图片_">
                <img id="u11021_img" class="img " src="{% static 'luogu/images/用户登录/u11021.png' %}"/>
                <div id="u11021_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u11022" class="ax_default label_14px__red">
              <div id="u11022_div" class=""></div>
              <div id="u11022_text" class="text ">
                <p><span>用户登录</span></p>
              </div>
            </div>

            <!-- Unnamed (Group) -->
            <div id="u11023" class="ax_default" data-left="55" data-top="164" data-width="300" data-height="50">

              <!-- Box_Password (Rectangle) -->
              <div id="u11024" class="ax_default box1__eee" data-label="Box_Password">
                <div id="u11024_div" class=""></div>
                <div id="u11024_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>

              <!-- Input_Password (Text Field) -->
              <div id="u11025" class="ax_default _文本框" data-label="Input_Password">
                <div id="u11025_div" class=""></div>
                <input id="u11025_input" name="password" type="password" value="" class="u11025_input"/>
              </div>

              <!-- Unnamed (Image) -->
              <div id="u11026" class="ax_default _图片_">
                <img id="u11026_img" class="img " src="{% static 'luogu/images/用户登录/u11026.png' %}"/>
                <div id="u11026_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>
            </div>

            <!-- Error_Prompt (Dynamic Panel) -->
            <div id="u11027" class="ax_default ax_default_hidden" data-label="Error_Prompt" style="display:none; visibility: hidden">
              <div id="u11027_state0" class="panel_state" data-label="State1" style="">
                <div id="u11027_state0_content" class="panel_state_content">

                  <!-- Content_Error_Prompt (Rectangle) -->
                  <div id="u11028" class="ax_default label_14px__red" data-label="Content_Error_Prompt">
                    <div id="u11028_div" class=""></div>
                    <div id="u11028_text" class="text ">
                      <p><span>提示语</span></p>
                    </div>
                  </div>

                  <!-- Icon_Error_Prompt (Image) -->
                  <div id="u11029" class="ax_default _图片_" data-label="Icon_Error_Prompt">
                    <img id="u11029_img" class="img " src="{% static 'luogu/images/评价商品/icon_error_prompt_u4551.png' %}"/>
                    <div id="u11029_text" class="text " style="display:none; visibility: hidden">
                      <p></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u11030" class="ax_default label_14px__red">
              <div id="u11030_div" class=""></div>
              <div id="u11030_text" class="text ">
                <p><span>用户注册</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u11031" class="ax_default label_14px__red">
              <div id="u11031_div" class=""></div>
              <div id="u11031_text" class="text ">
                <p><span>忘记密码？</span></p>
              </div>
            </div>

            <!-- Button (Rectangle) -->
            <button id="u11032" class="ax_default _形状1" data-label="Button">
              <div id="u11032_div" class=""></div>
              <div id="u11032_text" class="text ">
                <p><span>立即登录</span></p>
              </div>
            </button>
</form>
            <!-- Unnamed (Group) -->
            <div id="u11033" class="ax_default" data-left="53" data-top="357" data-width="300" data-height="21">

              <!-- Unnamed (Line) -->
              <div id="u11034" class="ax_default line">
                <img id="u11034_img" class="img " src="{% static 'luogu/images/用户登录/u11034.svg' %}"/>
                <div id="u11034_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>

              <!-- Unnamed (Rectangle) -->
              <div id="u11035" class="ax_default label_14px__red">
                <div id="u11035_div" class=""></div>
                <div id="u11035_text" class="text ">
                  <p><span>其他登录方式</span></p>
                </div>
              </div>
            </div>


            <!-- Unnamed (Repeater) -->
            <div id="u11037" class="ax_default">
              <script id="u11037_script" type="axure-repeater-template">

                <!-- Unnamed (Dynamic Panel) -->
                <div id="u11038" class="ax_default u11038">
                  <div id="u11038_state0" class="panel_state u11038_state0" data-label="State1" style="">
                    <div id="u11038_state0_content" class="panel_state_content u11038_state0_content">

                      <!-- Name (Rectangle) -->
                      <div id="u11039" class="ax_default label_14px__red u11039" data-label="Name">
                        <div id="u11039_div" class="u11039_div"></div>
                        <div id="u11039_text" class="text u11039_text">
                          <p><span>名称</span></p>
                        </div>
                      </div>

                      <!-- Img (Image) -->
                      <div id="u11040" class="ax_default _图片_ u11040" data-label="Img">
                        <img id="u11040_img" class="img u11040_img" src="{% static 'luogu/images/用户登录/img_u11040.svg' %}"/>
                        <div id="u11040_text" class="text u11040_text" style="display:none; visibility: hidden">
                          <p></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </script>
              <div id="u11037-1" class="" style="width: 56px; height: 56px;">

                <!-- Unnamed (Dynamic Panel) -->
                <div id="u11038-1" class="ax_default u11038" style="visibility: inherit">
                  <div id="u11038-1_state0" class="panel_state u11038_state0" data-label="State1" style=" width: 56px; height: 56px;visibility: inherit">
                    <div id="u11038-1_state0_content" class="panel_state_content u11038_state0_content" style="visibility: inherit">

                      <!-- Name (Rectangle) -->
                      <div id="u11039-1" class="ax_default label_14px__red u11039" data-label="Name" style="width: 56px; height: 21px; left: 0px; top: 35px;visibility: inherit">
                        <div id="u11039-1_div" class="u11039_div" style="width: 56px; height: 21px;visibility: inherit"></div>
                        <div id="u11039-1_text" class="text u11039_text" style="visibility: inherit">
                          <p><span>名称</span></p>
                        </div>
                      </div>

                      <!-- Img (Image) -->
                      <div id="u11040-1" class="ax_default _图片_ u11040" data-label="Img" style="width: 30px; height: 30px; left: 13px; top: 0px;visibility: inherit">
                        <img id="u11040-1_img" class="img u11040_img" src="{% static 'luogu/images/用户登录/img_u11040.svg' %}"/>
                        <div id="u11040-1_text" class="text u11040_text" style="display:none; visibility: hidden">
                          <p></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div id="u11037-2" class="" style="width: 56px; height: 56px;">

                <!-- Unnamed (Dynamic Panel) -->
                <div id="u11038-2" class="ax_default u11038" style="visibility: inherit">
                  <div id="u11038-2_state0" class="panel_state u11038_state0" data-label="State1" style=" width: 56px; height: 56px;visibility: inherit">
                    <div id="u11038-2_state0_content" class="panel_state_content u11038_state0_content" style="visibility: inherit">

                      <!-- Name (Rectangle) -->
                      <div id="u11039-2" class="ax_default label_14px__red u11039" data-label="Name" style="width: 56px; height: 21px; left: 0px; top: 35px;visibility: inherit">
                        <div id="u11039-2_div" class="u11039_div" style="width: 56px; height: 21px;visibility: inherit"></div>
                        <div id="u11039-2_text" class="text u11039_text" style="visibility: inherit">
                          <p><span>名称</span></p>
                        </div>
                      </div>

                      <!-- Img (Image) -->
                      <div id="u11040-2" class="ax_default _图片_ u11040" data-label="Img" style="width: 30px; height: 30px; left: 13px; top: 0px;visibility: inherit">
                        <img id="u11040-2_img" class="img u11040_img" src="{% static 'luogu/images/用户登录/img_u11040.svg' %}"/>
                        <div id="u11040-2_text" class="text u11040_text" style="display:none; visibility: hidden">
                          <p></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div id="u11037-3" class="" style="width: 56px; height: 56px;">

                <!-- Unnamed (Dynamic Panel) -->
                <div id="u11038-3" class="ax_default u11038" style="visibility: inherit">
                  <div id="u11038-3_state0" class="panel_state u11038_state0" data-label="State1" style=" width: 56px; height: 56px;visibility: inherit">
                    <div id="u11038-3_state0_content" class="panel_state_content u11038_state0_content" style="visibility: inherit">

                      <!-- Name (Rectangle) -->
                      <div id="u11039-3" class="ax_default label_14px__red u11039" data-label="Name" style="width: 56px; height: 21px; left: 0px; top: 35px;visibility: inherit">
                        <div id="u11039-3_div" class="u11039_div" style="width: 56px; height: 21px;visibility: inherit"></div>
                        <div id="u11039-3_text" class="text u11039_text" style="visibility: inherit">
                          <p><span>名称</span></p>
                        </div>
                      </div>

                      <!-- Img (Image) -->
                      <div id="u11040-3" class="ax_default _图片_ u11040" data-label="Img" style="width: 30px; height: 30px; left: 13px; top: 0px;visibility: inherit">
                        <img id="u11040-3_img" class="img u11040_img" src="{% static 'luogu/images/用户登录/img_u11040.svg' %}"/>
                        <div id="u11040-3_text" class="text u11040_text" style="display:none; visibility: hidden">
                          <p></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Unnamed (Image) -->
            <div id="u11041" class="ax_default _图片_ ax_default_hidden" style="display:none; visibility: hidden">
              <img id="u11041_img" class="img " src="{% static 'luogu/images/用户登录/u11041.png' %}"/>
              <div id="u11041_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u11042" class="ax_default _二级标题">
        <div id="u11042_div" class=""></div>
        <div id="u11042_text" class="text ">
          <p><span>冰酒销售系统</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u11043" class="ax_default _二级标题">
        <div id="u11043_div" class=""></div>
        <div id="u11043_text" class="text ">
          <p><span>用心甄选每款冰酒，带您品尝全加拿大，找寻心中专属的味道</span></p>
        </div>
      </div>

    </div>
    <script src="{% static 'luogu/resources/scripts/axure/ios.js' %}"></script>
  </body>
{% endblock %}