<!DOCTYPE html>
<html>
  <head>
    <title>积分明细</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="files/积分明细/styles.css" type="text/css" rel="stylesheet"/>
    <script src="resources/scripts/jquery-3.2.1.min.js"></script>
    <script src="resources/scripts/axure/axQuery.js"></script>
    <script src="resources/scripts/axure/globals.js"></script>
    <script src="resources/scripts/axutils.js"></script>
    <script src="resources/scripts/axure/annotation.js"></script>
    <script src="resources/scripts/axure/axQuery.std.js"></script>
    <script src="resources/scripts/axure/doc.js"></script>
    <script src="resources/scripts/messagecenter.js"></script>
    <script src="resources/scripts/axure/events.js"></script>
    <script src="resources/scripts/axure/recording.js"></script>
    <script src="resources/scripts/axure/action.js"></script>
    <script src="resources/scripts/axure/expr.js"></script>
    <script src="resources/scripts/axure/geometry.js"></script>
    <script src="resources/scripts/axure/flyout.js"></script>
    <script src="resources/scripts/axure/model.js"></script>
    <script src="resources/scripts/axure/repeater.js"></script>
    <script src="resources/scripts/axure/sto.js"></script>
    <script src="resources/scripts/axure/utils.temp.js"></script>
    <script src="resources/scripts/axure/variables.js"></script>
    <script src="resources/scripts/axure/drag.js"></script>
    <script src="resources/scripts/axure/move.js"></script>
    <script src="resources/scripts/axure/visibility.js"></script>
    <script src="resources/scripts/axure/style.js"></script>
    <script src="resources/scripts/axure/adaptive.js"></script>
    <script src="resources/scripts/axure/tree.js"></script>
    <script src="resources/scripts/axure/init.temp.js"></script>
    <script src="resources/scripts/axure/legacy.js"></script>
    <script src="resources/scripts/axure/viewer.js"></script>
    <script src="resources/scripts/axure/math.js"></script>
    <script src="resources/scripts/axure/jquery.nicescroll.min.js"></script>
    <script src="data/document.js"></script>
    <script src="files/积分明细/data.js"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (Repeater) -->
      <div id="u6437" class="ax_default">
        <script id="u6437_script" type="axure-repeater-template">

          <!-- Time (Rectangle) -->
          <div id="u6438" class="ax_default box1__eee u6438" data-label="Time">
            <div id="u6438_div" class="u6438_div"></div>
            <div id="u6438_text" class="text u6438_text">
              <p><span>日期</span></p>
            </div>
          </div>

          <!-- Integral (Rectangle) -->
          <div id="u6439" class="ax_default box1__eee u6439" data-label="Integral">
            <div id="u6439_div" class="u6439_div"></div>
            <div id="u6439_text" class="text u6439_text">
              <p><span>积分</span></p>
            </div>
          </div>

          <!-- Source (Rectangle) -->
          <div id="u6440" class="ax_default box1__eee u6440" data-label="Source">
            <div id="u6440_div" class="u6440_div"></div>
            <div id="u6440_text" class="text u6440_text">
              <p><span>来源</span></p>
            </div>
          </div>
        </script>
        <div id="u6437-1" class="" style="width: 925px; height: 60px;">

          <!-- Time (Rectangle) -->
          <div id="u6438-1" class="ax_default box1__eee u6438" data-label="Time" style="width: 280px; height: 60px; left: 0px; top: 0px;visibility: inherit">
            <div id="u6438-1_div" class="u6438_div" style="width: 280px; height: 60px;visibility: inherit"></div>
            <div id="u6438-1_text" class="text u6438_text" style="visibility: inherit">
              <p><span>日期</span></p>
            </div>
          </div>

          <!-- Integral (Rectangle) -->
          <div id="u6439-1" class="ax_default box1__eee u6439" data-label="Integral" style="width: 245px; height: 60px; left: 680px; top: 0px;visibility: inherit">
            <div id="u6439-1_div" class="u6439_div" style="width: 245px; height: 60px;visibility: inherit"></div>
            <div id="u6439-1_text" class="text u6439_text" style="visibility: inherit">
              <p><span>积分</span></p>
            </div>
          </div>

          <!-- Source (Rectangle) -->
          <div id="u6440-1" class="ax_default box1__eee u6440" data-label="Source" style="width: 400px; height: 60px; left: 281px; top: 0px;visibility: inherit">
            <div id="u6440-1_div" class="u6440_div" style="width: 400px; height: 60px;visibility: inherit"></div>
            <div id="u6440-1_text" class="text u6440_text" style="visibility: inherit">
              <p><span>来源</span></p>
            </div>
          </div>
        </div>
        <div id="u6437-2" class="" style="width: 925px; height: 60px;">

          <!-- Time (Rectangle) -->
          <div id="u6438-2" class="ax_default box1__eee u6438" data-label="Time" style="width: 280px; height: 60px; left: 0px; top: 0px;visibility: inherit">
            <div id="u6438-2_div" class="u6438_div" style="width: 280px; height: 60px;visibility: inherit"></div>
            <div id="u6438-2_text" class="text u6438_text" style="visibility: inherit">
              <p><span>日期</span></p>
            </div>
          </div>

          <!-- Integral (Rectangle) -->
          <div id="u6439-2" class="ax_default box1__eee u6439" data-label="Integral" style="width: 245px; height: 60px; left: 680px; top: 0px;visibility: inherit">
            <div id="u6439-2_div" class="u6439_div" style="width: 245px; height: 60px;visibility: inherit"></div>
            <div id="u6439-2_text" class="text u6439_text" style="visibility: inherit">
              <p><span>积分</span></p>
            </div>
          </div>

          <!-- Source (Rectangle) -->
          <div id="u6440-2" class="ax_default box1__eee u6440" data-label="Source" style="width: 400px; height: 60px; left: 281px; top: 0px;visibility: inherit">
            <div id="u6440-2_div" class="u6440_div" style="width: 400px; height: 60px;visibility: inherit"></div>
            <div id="u6440-2_text" class="text u6440_text" style="visibility: inherit">
              <p><span>来源</span></p>
            </div>
          </div>
        </div>
        <div id="u6437-3" class="" style="width: 925px; height: 60px;">

          <!-- Time (Rectangle) -->
          <div id="u6438-3" class="ax_default box1__eee u6438" data-label="Time" style="width: 280px; height: 60px; left: 0px; top: 0px;visibility: inherit">
            <div id="u6438-3_div" class="u6438_div" style="width: 280px; height: 60px;visibility: inherit"></div>
            <div id="u6438-3_text" class="text u6438_text" style="visibility: inherit">
              <p><span>日期</span></p>
            </div>
          </div>

          <!-- Integral (Rectangle) -->
          <div id="u6439-3" class="ax_default box1__eee u6439" data-label="Integral" style="width: 245px; height: 60px; left: 680px; top: 0px;visibility: inherit">
            <div id="u6439-3_div" class="u6439_div" style="width: 245px; height: 60px;visibility: inherit"></div>
            <div id="u6439-3_text" class="text u6439_text" style="visibility: inherit">
              <p><span>积分</span></p>
            </div>
          </div>

          <!-- Source (Rectangle) -->
          <div id="u6440-3" class="ax_default box1__eee u6440" data-label="Source" style="width: 400px; height: 60px; left: 281px; top: 0px;visibility: inherit">
            <div id="u6440-3_div" class="u6440_div" style="width: 400px; height: 60px;visibility: inherit"></div>
            <div id="u6440-3_text" class="text u6440_text" style="visibility: inherit">
              <p><span>来源</span></p>
            </div>
          </div>
        </div>
        <div id="u6437-4" class="" style="width: 925px; height: 60px;">

          <!-- Time (Rectangle) -->
          <div id="u6438-4" class="ax_default box1__eee u6438" data-label="Time" style="width: 280px; height: 60px; left: 0px; top: 0px;visibility: inherit">
            <div id="u6438-4_div" class="u6438_div" style="width: 280px; height: 60px;visibility: inherit"></div>
            <div id="u6438-4_text" class="text u6438_text" style="visibility: inherit">
              <p><span>日期</span></p>
            </div>
          </div>

          <!-- Integral (Rectangle) -->
          <div id="u6439-4" class="ax_default box1__eee u6439" data-label="Integral" style="width: 245px; height: 60px; left: 680px; top: 0px;visibility: inherit">
            <div id="u6439-4_div" class="u6439_div" style="width: 245px; height: 60px;visibility: inherit"></div>
            <div id="u6439-4_text" class="text u6439_text" style="visibility: inherit">
              <p><span>积分</span></p>
            </div>
          </div>

          <!-- Source (Rectangle) -->
          <div id="u6440-4" class="ax_default box1__eee u6440" data-label="Source" style="width: 400px; height: 60px; left: 281px; top: 0px;visibility: inherit">
            <div id="u6440-4_div" class="u6440_div" style="width: 400px; height: 60px;visibility: inherit"></div>
            <div id="u6440-4_text" class="text u6440_text" style="visibility: inherit">
              <p><span>来源</span></p>
            </div>
          </div>
        </div>
        <div id="u6437-5" class="" style="width: 925px; height: 60px;">

          <!-- Time (Rectangle) -->
          <div id="u6438-5" class="ax_default box1__eee u6438" data-label="Time" style="width: 280px; height: 60px; left: 0px; top: 0px;visibility: inherit">
            <div id="u6438-5_div" class="u6438_div" style="width: 280px; height: 60px;visibility: inherit"></div>
            <div id="u6438-5_text" class="text u6438_text" style="visibility: inherit">
              <p><span>日期</span></p>
            </div>
          </div>

          <!-- Integral (Rectangle) -->
          <div id="u6439-5" class="ax_default box1__eee u6439" data-label="Integral" style="width: 245px; height: 60px; left: 680px; top: 0px;visibility: inherit">
            <div id="u6439-5_div" class="u6439_div" style="width: 245px; height: 60px;visibility: inherit"></div>
            <div id="u6439-5_text" class="text u6439_text" style="visibility: inherit">
              <p><span>积分</span></p>
            </div>
          </div>

          <!-- Source (Rectangle) -->
          <div id="u6440-5" class="ax_default box1__eee u6440" data-label="Source" style="width: 400px; height: 60px; left: 281px; top: 0px;visibility: inherit">
            <div id="u6440-5_div" class="u6440_div" style="width: 400px; height: 60px;visibility: inherit"></div>
            <div id="u6440-5_text" class="text u6440_text" style="visibility: inherit">
              <p><span>来源</span></p>
            </div>
          </div>
        </div>
        <div id="u6437-6" class="" style="width: 925px; height: 60px;">

          <!-- Time (Rectangle) -->
          <div id="u6438-6" class="ax_default box1__eee u6438" data-label="Time" style="width: 280px; height: 60px; left: 0px; top: 0px;visibility: inherit">
            <div id="u6438-6_div" class="u6438_div" style="width: 280px; height: 60px;visibility: inherit"></div>
            <div id="u6438-6_text" class="text u6438_text" style="visibility: inherit">
              <p><span>日期</span></p>
            </div>
          </div>

          <!-- Integral (Rectangle) -->
          <div id="u6439-6" class="ax_default box1__eee u6439" data-label="Integral" style="width: 245px; height: 60px; left: 680px; top: 0px;visibility: inherit">
            <div id="u6439-6_div" class="u6439_div" style="width: 245px; height: 60px;visibility: inherit"></div>
            <div id="u6439-6_text" class="text u6439_text" style="visibility: inherit">
              <p><span>积分</span></p>
            </div>
          </div>

          <!-- Source (Rectangle) -->
          <div id="u6440-6" class="ax_default box1__eee u6440" data-label="Source" style="width: 400px; height: 60px; left: 281px; top: 0px;visibility: inherit">
            <div id="u6440-6_div" class="u6440_div" style="width: 400px; height: 60px;visibility: inherit"></div>
            <div id="u6440-6_text" class="text u6440_text" style="visibility: inherit">
              <p><span>来源</span></p>
            </div>
          </div>
        </div>
        <div id="u6437-7" class="" style="width: 925px; height: 60px;">

          <!-- Time (Rectangle) -->
          <div id="u6438-7" class="ax_default box1__eee u6438" data-label="Time" style="width: 280px; height: 60px; left: 0px; top: 0px;visibility: inherit">
            <div id="u6438-7_div" class="u6438_div" style="width: 280px; height: 60px;visibility: inherit"></div>
            <div id="u6438-7_text" class="text u6438_text" style="visibility: inherit">
              <p><span>日期</span></p>
            </div>
          </div>

          <!-- Integral (Rectangle) -->
          <div id="u6439-7" class="ax_default box1__eee u6439" data-label="Integral" style="width: 245px; height: 60px; left: 680px; top: 0px;visibility: inherit">
            <div id="u6439-7_div" class="u6439_div" style="width: 245px; height: 60px;visibility: inherit"></div>
            <div id="u6439-7_text" class="text u6439_text" style="visibility: inherit">
              <p><span>积分</span></p>
            </div>
          </div>

          <!-- Source (Rectangle) -->
          <div id="u6440-7" class="ax_default box1__eee u6440" data-label="Source" style="width: 400px; height: 60px; left: 281px; top: 0px;visibility: inherit">
            <div id="u6440-7_div" class="u6440_div" style="width: 400px; height: 60px;visibility: inherit"></div>
            <div id="u6440-7_text" class="text u6440_text" style="visibility: inherit">
              <p><span>来源</span></p>
            </div>
          </div>
        </div>
        <div id="u6437-8" class="" style="width: 925px; height: 60px;">

          <!-- Time (Rectangle) -->
          <div id="u6438-8" class="ax_default box1__eee u6438" data-label="Time" style="width: 280px; height: 60px; left: 0px; top: 0px;visibility: inherit">
            <div id="u6438-8_div" class="u6438_div" style="width: 280px; height: 60px;visibility: inherit"></div>
            <div id="u6438-8_text" class="text u6438_text" style="visibility: inherit">
              <p><span>日期</span></p>
            </div>
          </div>

          <!-- Integral (Rectangle) -->
          <div id="u6439-8" class="ax_default box1__eee u6439" data-label="Integral" style="width: 245px; height: 60px; left: 680px; top: 0px;visibility: inherit">
            <div id="u6439-8_div" class="u6439_div" style="width: 245px; height: 60px;visibility: inherit"></div>
            <div id="u6439-8_text" class="text u6439_text" style="visibility: inherit">
              <p><span>积分</span></p>
            </div>
          </div>

          <!-- Source (Rectangle) -->
          <div id="u6440-8" class="ax_default box1__eee u6440" data-label="Source" style="width: 400px; height: 60px; left: 281px; top: 0px;visibility: inherit">
            <div id="u6440-8_div" class="u6440_div" style="width: 400px; height: 60px;visibility: inherit"></div>
            <div id="u6440-8_text" class="text u6440_text" style="visibility: inherit">
              <p><span>来源</span></p>
            </div>
          </div>
        </div>
        <div id="u6437-9" class="" style="width: 925px; height: 60px;">

          <!-- Time (Rectangle) -->
          <div id="u6438-9" class="ax_default box1__eee u6438" data-label="Time" style="width: 280px; height: 60px; left: 0px; top: 0px;visibility: inherit">
            <div id="u6438-9_div" class="u6438_div" style="width: 280px; height: 60px;visibility: inherit"></div>
            <div id="u6438-9_text" class="text u6438_text" style="visibility: inherit">
              <p><span>日期</span></p>
            </div>
          </div>

          <!-- Integral (Rectangle) -->
          <div id="u6439-9" class="ax_default box1__eee u6439" data-label="Integral" style="width: 245px; height: 60px; left: 680px; top: 0px;visibility: inherit">
            <div id="u6439-9_div" class="u6439_div" style="width: 245px; height: 60px;visibility: inherit"></div>
            <div id="u6439-9_text" class="text u6439_text" style="visibility: inherit">
              <p><span>积分</span></p>
            </div>
          </div>

          <!-- Source (Rectangle) -->
          <div id="u6440-9" class="ax_default box1__eee u6440" data-label="Source" style="width: 400px; height: 60px; left: 281px; top: 0px;visibility: inherit">
            <div id="u6440-9_div" class="u6440_div" style="width: 400px; height: 60px;visibility: inherit"></div>
            <div id="u6440-9_text" class="text u6440_text" style="visibility: inherit">
              <p><span>来源</span></p>
            </div>
          </div>
        </div>
        <div id="u6437-10" class="" style="width: 925px; height: 60px;">

          <!-- Time (Rectangle) -->
          <div id="u6438-10" class="ax_default box1__eee u6438" data-label="Time" style="width: 280px; height: 60px; left: 0px; top: 0px;visibility: inherit">
            <div id="u6438-10_div" class="u6438_div" style="width: 280px; height: 60px;visibility: inherit"></div>
            <div id="u6438-10_text" class="text u6438_text" style="visibility: inherit">
              <p><span>日期</span></p>
            </div>
          </div>

          <!-- Integral (Rectangle) -->
          <div id="u6439-10" class="ax_default box1__eee u6439" data-label="Integral" style="width: 245px; height: 60px; left: 680px; top: 0px;visibility: inherit">
            <div id="u6439-10_div" class="u6439_div" style="width: 245px; height: 60px;visibility: inherit"></div>
            <div id="u6439-10_text" class="text u6439_text" style="visibility: inherit">
              <p><span>积分</span></p>
            </div>
          </div>

          <!-- Source (Rectangle) -->
          <div id="u6440-10" class="ax_default box1__eee u6440" data-label="Source" style="width: 400px; height: 60px; left: 281px; top: 0px;visibility: inherit">
            <div id="u6440-10_div" class="u6440_div" style="width: 400px; height: 60px;visibility: inherit"></div>
            <div id="u6440-10_text" class="text u6440_text" style="visibility: inherit">
              <p><span>来源</span></p>
            </div>
          </div>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u6441" class="ax_default box_2">
        <div id="u6441_div" class=""></div>
        <div id="u6441_text" class="text ">
          <p><span>积分明细</span></p>
        </div>
      </div>

      <!-- Type (Rectangle) -->
      <div id="u6442" class="ax_default box1__eee" data-label="Type">
        <div id="u6442_div" class=""></div>
        <div id="u6442_text" class="text ">
          <p><span>日期</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u6443" class="ax_default box1__eee">
        <div id="u6443_div" class=""></div>
        <div id="u6443_text" class="text ">
          <p><span>来源</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u6444" class="ax_default box1__eee">
        <div id="u6444_div" class=""></div>
        <div id="u6444_text" class="text ">
          <p><span>积分</span></p>
        </div>
      </div>
    </div>
    <script src="resources/scripts/axure/ios.js"></script>
  </body>
</html>
