# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\软件工程\web\0ng.run\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
